[2016-06-08 05:53] tessereth opened #17 "sourceMappingURL causing spurious errors in other projects"
We have imported the css file found at https://gov-au-ui-kit.apps.staging.digital.gov.au/style.css into our project but Chrome is trying to be helpful and interpreting the sourceMappingURL line and trying to load style.css.map. It's presumably doing that so the chrome devtools can work on the original source files but we don't have those files and it's causing spurious 404 errors in our server log

[2016-06-08 06:31] tessereth commented on #17
Thanks @petronbot. The minified version is great for production but having a human readable version for our own development is useful. Plus we're using rails which automatically minifies css in production.

[2016-06-08 23:20] tessereth commented on #17
Just in case you decide you need the source mapping later, I've figured out how to turn this feature off in chrome:
- Open developer tools
- Open the settings
- Untick "Enable CSS source maps" in the General section

[2016-06-09 07:23] klepas commented on #17
Where are we at with the issue itself — resolved?

[2016-06-09 22:47] tessereth commented on #17
I think it is. Thanks.

[2016-06-09 22:47] #17 closed, assigned to nobody

[2016-06-16 02:21] ltankey opened #26 "[attribute] pull-right on element"
Hi folks

Similar to bootstrap's `pull-right`, we need a way of right-aligning an element within a given block. Ideally this would be added on a component and would pull to the right-hand side of the screen.

Example mark-up:

[code]

[2016-06-16 03:15] maxious commented on #26
We should probably include some other typical helpers https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L118

[2016-06-16 04:04] klepas opened #28 "Padding of page is not consistent across all ≤$desktop viewport widths"
There are some points between $mobile and $tablet where the page does not receive the minimum padding, and content touches the viewport edges.

Need to do some more thorough responsive testing, inc. on actual devices.

[2016-06-17 02:29] maxious opened #30 "Feature Request - Calendars"
https://github.com/AusDTO/citizenship-appointment-client ?

[2016-06-17 02:29] maxious opened #31 "Feature Request - Charts"
https://github.com/AusDTO/d3-charts-dto ?

[2016-06-17 02:34] ltankey opened #32 "table with alternating-coloured rows"
Hi folks

We require styling for tables which have alternately-coloured rows. It would be neat to be able to specify the type of table perhaps by declaring its class.

[2016-06-17 02:38] klepas commented on #32
@ltankey it’d be good to separate out the following:
1. sane defaults for `table`, and it’s children (as applicable)
2. sane defaults for “content” `table` (thinking here table inside an `article`?)
3. sane defaults for `table` uses outside (2)
4. extra, commonly used classes to set tables for specific, common needs.

E.g., zebra-stripping could/would be useful for all tables, but some stuff we do

[2016-06-17 02:38] maxious commented on #32
Easy css (tr:nth-child(even)) http://refills.bourbon.io/#er-toc-id-17 but trickier question, what do we call this type of table?

[2016-06-17 11:25] elisechant opened #34 "can not install private npm module "AusDTO/gulp-html" from package.json"
Running `npm install`, get's stuck at:
https://github.com/AusDTO/gov-au-ui-kit/blob/master/package.json#L31

[2016-06-19 09:17] simonschwartz opened #36 "Feature Request - Accordions (with expand all, collapse all)"
I'm sure this is already on the list, but would be helpful to have accordions included in the UI Kit.

A design requirement that has cropped up in agency work is being able to globally expand and collapse a group of accordions. Design currently looks like the following. May be worth adding a visual clue for users who may not have strong English literacy.

<img width="569" alt="accordion-and-expand

[2016-06-19 09:21] maxious commented on #36
On a technical level, suggest using &lt;details&gt;&lt;summary&gt; pattern with polyfill of https://github.com/mathiasbynens/jquery-details

eg.
`<div> <a href="#" id="OB59U-heading" role="tab" aria-controls="OB59U" aria-expanded="true"> <h3> Heading for accordian</h3> </a> <div id="OB59U" role="tabpanel" aria-labelledby="OB59U-heading"> Content here </div> </div>`

[2016-06-19 09:30] simonschwartz commented on #36
👍 to using `<details>`. It's actually what we are using on the agency alpha already.

Happy to send to a PR for review but may be better to let you build this within the team?

[2016-06-19 23:33] ltankey opened #38 "H1 should be in the content body"
Currently the H1 is in the nav/title bar, which should probably be reserved exclusively for the brand/logo (if it's to take on the role as a more traditional nav).

It would be great to shift the H1 into the content body, so that the markup could properly reflect each page's titles properly.

[2016-06-19 23:42] maxious commented on #38
https://github.com/AusDTO/gov-au-ui-kit/blob/master/examples/index.html#L44

[2016-06-19 23:54] klepas commented on #38
I’ll fix this in the header/footer edits I’m working on.

[2016-06-20 00:16] #34 closed, assigned to nobody

[2016-06-20 01:05] maxious commented on #36
Also tab based accordians http://refills.bourbon.io/

[2016-06-20 01:11] maxious commented on #34
Thanks for reporting this issue, the AusDTO/gulp-html dependency is now not required to install and build the basic uikit.

[2016-06-21 03:13] klepas commented on #28
I’ve fixed this in the `feature/page-heading` branch with help from @petronbot this morning. Once I merge this I’ll mark that this is fixed.

[2016-06-21 05:58] #38 closed, assigned to nobody

[2016-06-21 06:38] klepas opened #44 "KSS template still using KSS’ default SCSS"
We should work towards replacing all of the provided SCSS from KSS with our framework.

We have also been reworking the KSS template itself, and should continue fixing/improving parts of it where we can (e.g. using `ul` for the sidebar nav, and manually inserting numbers via `span`s… eww).

[2016-06-21 22:48] ltankey opened #45 "Horizontal top-level nav/header styling"
Seems the latest release has removed the default header div.wrapper styling. Taking a look at the documentation, there doesn't seem to be anything specifically for this (although it does exist in the styling of the thing itself as `section.govau--header` and `section.hero`.

Is this the semantic markup for these elements, and there's just no docs for it? Or is this something that is likely to chan

[2016-06-21 23:46] #28 closed, assigned to nobody

[2016-06-21 23:50] klepas commented on #45
Hey @ltankey.

This should be the markup from hereon in; if it changes from here we’ll make notes about in the release notes.

If you copy that general markup you’ll be fine — most importantly:
- use the `banner` and `contentinfo` ARIA roles for the page `header` and `footer` respectively — we target these two page items via their ARIA roles rather than their class or position
- b/c we need to esc

[2016-06-21 23:57] maxious commented on #31
This one's a bit easier - that javascript library has been made available and will probably be maintained for a while. So we just need to provide a mention in our documentation if you would like to make charts, this is available and supported internally.

[2016-06-22 00:02] maxious commented on #30
![](https://cloud.githubusercontent.com/assets/81432/16250321/ce7d3266-385f-11e6-9f35-ab4f9c105c0e.png)

This calendar booking widget style shows days in the style of a calendar, each day being styled to show if there are available appointments on that day. Then when you click on a day, there's a visual transition so you can see available time slots laid out in a grid.

Even just the basic calenda

[2016-06-22 00:11] ltankey commented on #32
Hi @petronbot

We have a few simple lists with users and pages - they're very standard lists with several columns. A good example follows:
![image](https://cloud.githubusercontent.com/assets/5369670/16250478/0a9016d2-3861-11e6-8b22-04d91ea12db4.png)

There are challenges re: http://stackoverflow.com/questions/5967564/form-inside-a-table but I don't think this is within the scope of what you're del

[2016-06-22 00:19] ltankey commented on #32
Awesome thanks :+1:

Realized that I was typing out loud and co-mingling CSS and templating concerns! Definitely not your issue but will keep that in mind if there's anything for forms (which there probably is) to assist.

Thanks!

[2016-06-22 00:20] ltankey commented on #45
Thanks @klepas

I've implemented it as per the UI-kit markup although it would be great to include in the KSS.

I'm not quite clear on your comments RE: ARIA roles vs classes - do you have a sample bit of markup to clear this up for me?

Cheers

[2016-06-22 00:29] klepas commented on #45
@ltankey:

[code]

Same for the page footer—

[code]

[2016-06-22 00:35] ltankey commented on #45
Ahh gotchya - have implemented in the same way, so that's great :+1:

Thanks

[2016-06-22 04:36] #45 closed, assigned to nobody

[2016-06-22 06:36] AndrewArch opened #49 "Contributing section"
"Contributing" says '... come and talk to us' but there is no link or indication about how to do that (apart from the semi-hidden 'feedback' link at the very top-right)

[2016-06-22 07:37] klepas commented on #49
Hey @AndrewArch,

We just updated our readme this afternoon — could you confirm if your feedback is re. the latest version of that?

The readme is at:
- http://gov-au-ui-kit.apps.staging.digital.gov.au/kss/ — that landing page uses the same README as in the repo;
- https://github.com/AusDTO/gov-au-ui-kit/blob/develop/README.md

I think @coderdan was also working on a CONTRIBUTING.md file, iirc?

[2016-06-22 10:16] coderdan opened #51 "Form input styling needs selectors for email and password types"
For example:

[code]

Should behave in the same way as for text.

[2016-06-22 23:27] joolswood commented on #49
Also, maybe http://gov-au-ui-kit.apps.staging.digital.gov.au/ should be taking users to this content: http://gov-au-ui-kit.apps.staging.digital.gov.au/kss/ rather than the example page?

[2016-06-22 23:46] #51 closed, assigned to nobody

[2016-06-22 23:50] klepas commented on #49
Mhh, definitely also need to add a timestamp to the documentation so users can tell how current it is/at least when the build date was.

[2016-06-23 00:08] petronbot opened #53 "Feedback button background colour"
**Browsers**: Chrome 51 & Safari 9.1.1

The 'Feedback' button should have a transparent background, but it's getting a grey one.

I think the culprit is `-webkit-appearance: button` at:

https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/vendor/_normalize.scss#L290

Chrome & Safari:

![image](https://cloud.githubusercontent.com/assets/5482613/16287930/453b5660-392a-11e6-97c7-64bd3898

[2016-06-23 02:00] AndrewArch commented on #49
much better at https://github.com/AusDTO/gov-au-ui-kit/blob/develop/README.md#make-gov-au-ui-kit-better - thanks :)

[2016-06-23 02:08] #53 closed, assigned to nobody

[2016-06-23 02:14] klepas commented on #49
Since we have the version- and time-stamp tracked in Jira, I’m going to close this.

[2016-06-23 02:14] #49 closed, assigned to nobody

[2016-06-23 03:09] klepas opened #57 "Button :hover width and border-radius not maintained"
This is most evident with the feedback button in the header.

I softened the buttons the other day by applying `$tiny-border-radius` (1px) to the `%base-button`.

This looks fine on render, and softens the buttons every so slightly, however on :hover things go awry in two ways:
1. the width of the button on `:hover` is slightly shorter (by around ~3–5px)
2. the 1px `border-radius` seems to be lost

[2016-06-23 04:57] #57 closed, assigned to petronbot

[2016-06-23 05:17] maxious opened #62 "jQuery based interaction buggy and not optimal"
I added the ability to hide the sidebar menu on mobile as it takes up the whole screen. However, this has an edge case that if you are on desktop, you resize the window and hide the menu and then go full screen the menu is still invisible. Fixing this looks hard and applying aria-expanded is already confusing the logic.

As per https://github.com/oneuijs/You-Dont-Need-jQuery and http://youmightnot

[2016-06-26 07:30] simonschwartz opened #67 "Skip to main content link"
For consideration

As a user navigating with keyboard it is helpful to be able to easily skip straight to the main content as it can be bothersome to continuously tab through the same header and navigation components after every page load.

This is usually achieved with a link at the very top of the page that is hidden until focused. The skip links button should link to the id of the main content

[2016-06-26 07:46] maxious commented on #67
webaim.org/techniques/skipnav/ was adapted for https://github.com/AusDTO/gov-au-alpha/blob/93745343c5b39c2fbf652b162d039fa80844ea56/_assets/css/partials/_dto.scss#L2256

Key learning was that you have to add tabindex="-1" to the target https://github.com/AusDTO/gov-au-alpha/blob/93745343c5b39c2fbf652b162d039fa80844ea56/_includes/breadcrumbs.html#L44 if it is not clickable https://stackoverflow.com

[2016-06-27 00:08] TrebBrennan commented on #67
Thanks Simon we've add a backlog `DESIGN-101` item for this :)
Something like this will probably do the trick https://codepen.io/anon/pen/wWgYvK

[2016-06-27 03:42] klepas opened #70 "Mobile portrait does not consistently render according to full viewport size"
This has occurred to be in latest iOS on an 4S, using Chrome, and with a Nexus 5X, also using Chrome.

Have not tested on other mobile browsers.

Result is as per screenshot.

Could not quickly determine the cause, so noting as  bug here for now.

![screenshot_20160627-132642](https://cloud.githubusercontent.com/assets/52766/16368005/f4cd51ce-3c6c-11e6-9a6f-f4b0999b42c5.png)

[2016-06-28 05:01] gazhands opened #80 "Typography - Open Sans bold not semi bold"
**Open sans bold should be 700**

[2016-06-28 05:25] klepas commented on #70
Not fixed by those commits — ignore.

[2016-06-28 06:58] klepas commented on #80
This has been fixed.

[2016-06-28 06:58] #80 closed, assigned to nobody

[2016-06-28 07:31] TrebBrennan commented on #70
I think styling applied to the `<pre>` tag on small view-ports is causing this issue.
It seems to work fine if you delete them.

[2016-06-28 07:41] TrebBrennan opened #84 "Navigation disappears on small viewport [Style-guide/KSS]"
This happens on the main guide not in the /examples

[2016-06-28 08:38] klepas commented on #44
Fiiiiix0red by @petronbot

Awesome work. (:

[2016-06-28 08:38] #44 closed, assigned to nobody

[2016-06-29 00:54] maxious commented on #70
I've added wrapping back to &lt;pre> in mobile in my PR. But the second level &lt;ul> is still pushing the viewport out

[2016-06-29 04:44] klepas opened #88 "Headings for example sections in KSS are hierarchically out of order"
They are `h3`, and need to cater for coming after a h3 section heading, and sometimes even after a h4, heading, as an example within a subsection in the guide.

We should probably also re-draw the full border of some kind around the rendered example, the code snippet, and the “Example” heading.

[2016-06-29 05:36] #84 closed, assigned to nobody

[2016-06-29 06:36] joolswood opened #92 "Blockquote rendering"
Visual elements are overlapping in the `develop` branch version of [typography](http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/section-typography.html#kssref-typography-4-horizontal-vertical-rhythm-4-quotations):
![screen shot 2016-06-29 at 4 36 14 pm](https://cloud.githubusercontent.com/assets/13774080/16442688/a2e4ccfa-3e17-11e6-9a2e-731f7405b928.png)

[2016-06-29 06:52] maxious commented on #92
One difference in kss.scss is:

[code]

Removing that makes blockquotes look a little better but why was it added in the first place?

[2016-06-30 04:52] petronbot opened #95 "Use of <hr /> on guide pages"
From #govau-guides:

[2016-06-30 05:13] AlzbetaT opened #96 "Visual active trail for local navigation"
With the local navigation, we would like to bold all the parent/grandparent/etc items, of the current item.

<img width="370" alt="screen shot 2016-06-30 at 3 09 37 pm" src="https://cloud.githubusercontent.com/assets/19522643/16477410/be8c669e-3ed4-11e6-9f62-a9bcc52bd046.png">

[2016-06-30 05:37] ltankey opened #97 "[tech support] Two, equal width column"
We have an editor page with a preview pane roughly of equal size (image included below). However, we require these two panes be side-by-side with equal widths. Both would presumably be in their own divs.

Questions:
- What is the preferred way of approaching this?
  - Is there a ui-kit pattern for this or will it be bespoke?

![image](https://cloud.githubusercontent.com/assets/5369670/16477810/62b

[2016-06-30 06:43] AlzbetaT opened #99 "Breadcrumb icon not rendering"
The breadcrumb icon in between items is not visible. It should look like the attached preview.

<img width="525" alt="screen shot 2016-06-30 at 4 40 18 pm" src="https://cloud.githubusercontent.com/assets/19522643/16479101/61b94f10-3ee1-11e6-9f14-1175f46d2e1e.png">

[2016-07-01 00:31] TrebBrennan opened #101 "Should all type elements have font-size set?"
_typography.scss sets the font-size of some elements like, UL, P, DL, in Em's.
This causes a few issues if you try and set the font-size on a container element because the Em's cascade down.

I'm suggesting we remove font-size from these types of base-size body copy elements and apply it to the containers. -- Thoughts?

Use-case:
I have a widget which has various elements in it which require `$sma

[2016-07-01 00:51] TrebBrennan commented on #101
Yeah It might be a good idea to set things in Rems to avoid the cascading and the plan is to only use a hand full of sizes so there is no need to % of sizes really :)

Aside.. I'm still not sure that we need to set the font-size on things like P, UL, LI, because they are more likely to be needed in the default size of any container; but this could just be code style.

Example:

[code]

[code]

[co

[2016-07-01 01:18] coderdan opened #102 "Footer should be locked to the bottom of the screen"
When using the UI Kit on gov.au we're finding that if there isn't much content on the screen, the footer floats above the bottom of the screen.

See screenshot.
<img width="1440" alt="screen shot 2016-07-01 at 11 17 56 am" src="https://cloud.githubusercontent.com/assets/522225/16509158/7e34fa3a-3f7d-11e6-93a6-3320dec2e5c7.png">

[2016-07-01 02:11] TrebBrennan commented on #99
Yeah I like that idea.

[2016-07-01 02:12] simonschwartz commented on #99
@petronbot I'm not seeing the breadcrumb icons on that link in Firefox v47.0

<img width="738" alt="breadcrumbs" src="https://cloud.githubusercontent.com/assets/12635736/16509933/101cdb50-3f85-11e6-916a-83b8bb0407e5.png">

[2016-07-01 04:29] ltankey opened #104 "Feature - Drop-down/pop-out menu"
Similar to the navbars at http://refills.bourbon.io/

We need a way of having nested user actions beneath a UI profile icon with a down arrow + list on mouse hover.

Is this kind of interaction the preferred approach? If it's frowned upon, what would be a good remedy for providing a condensed list of options in a small amount of real-estate?

[2016-07-03 07:54] simonschwartz opened #111 "Single column layout width bug"
On desktop both the width and positioning of a single column page(no local nav) changes depending on the content in the column. I'm completely lost as to why this is happening.

**Examples**

The single column page works as expected here
http://single-column-working.apps.staging.digital.gov.au/xyz.html

If I remove the last 2 paragraphs on that page then the column size and position completely cha

[2016-07-03 09:33] maxious commented on #111
This should be fixed by https://github.com/AusDTO/gov-au-ui-kit/pull/100/commits/a78471d2b98747c5dad677328d80e57a9bff5aa5

[2016-07-03 10:33] TrebBrennan commented on #97
Closing this issue -- I'm working closely with Luke on this one because it's bespoke to their product.
FYI: Having observed user behavior on this feature the recommendation was to test tabs

[2016-07-03 10:33] #97 closed, assigned to nobody

[2016-07-04 00:57] maxious opened #113 "[suggestion] Use Google Fonts via JS loader"
At the moment we are hard coding a CSS @import to get google web fonts but "If you want to provide consistent behavior across all browsers, use the Web Font Loader." https://developers.google.com/fonts/docs/technical_considerations#browser-specific_behavior

https://developers.google.com/speed/libraries/#web-font-loader
https://cdnjs.com/libraries/webfont

[2016-07-04 01:13] TrebBrennan commented on #95
Was introduced for legibility before latest typography changes and is now less useful.
Changes in the pipeline should resolve this.

[2016-07-04 01:13] #95 closed, assigned to TrebBrennan

[2016-07-04 01:20] maxious opened #114 "[suggestion] Mobile first? responsive behaviour"
Currently the page initially loads in desktop view and adapts to mobile. This means we need a media query shim for IE8 and clearfix to make the footer drop down below the body.

Would it be possible to refactor to start with mobile view and then adapt to desktop? How neutral is mobile view if it is viewed by a desktop browser that won't use media queries?

[2016-07-04 01:27] TrebBrennan commented on #92
Some leading elements in examples had a large margin-top; which made the page a little difficult to read. Latest changes to typography seem to resolve this so I've removed the :first-child rule all together.

[2016-07-04 01:27] #92 closed, assigned to nobody

[2016-07-04 04:22] lreichelt opened #117 "Typo - Contextual colours palatte"
should be palette not palatte

[2016-07-04 04:34] #32 closed, assigned to nobody

[2016-07-04 04:44] #88 closed, assigned to nobody

[2016-07-04 05:01] #102 closed, assigned to nobody

[2016-07-04 05:46] simonschwartz commented on #111
I've tried using that code snippet @maxious and no luck. The team is usability testing the prototype tomorrow and this bug is affecting quite a few pages. Any suggestions?

[2016-07-04 05:50] TrebBrennan commented on #117
Good pickup.
Should be resolved in #118 👍

[2016-07-04 05:50] #117 closed, assigned to nobody

[2016-07-04 06:15] maxious commented on #111
You can work around it if you add to your inline styles in the &lt;head>:

[code]

If single column is something you'll stick with, we should add an example to UI Kit and make it work.

[2016-07-04 06:16] maxious commented on #111
![screen shot 2016-07-04 at 4 15 33 pm](https://cloud.githubusercontent.com/assets/81432/16552232/96977102-4202-11e6-816d-9934de548803.png)

[2016-07-04 23:49] #113 closed, assigned to nobody

[2016-07-05 00:14] petronbot opened #122 "Mobile view of home page has horizontal scrolling"
### Browsers:
- Android, v6 - Chrome
## What I did:

Opened up the Home page of the guide
## What I expected to see:

A page layout that matches our designs
## What I saw:

The page width was pushed out and horizontal scrolling:

![image](https://cloud.githubusercontent.com/assets/5482613/16571166/0d6cacb6-4299-11e6-8706-65bc3a543657.png)

[2016-07-05 00:31] #114 closed, assigned to petronbot

[2016-07-05 01:13] klepas commented on #104
@ltankey something similar to the user profile dropdown here on GitHub, just in the controls section of the header?

![screen shot 2016-07-05 at 11 13 03 am](https://cloud.githubusercontent.com/assets/52766/16571532/89e1218e-42a1-11e6-9ce7-3a8157859543.png)

[2016-07-05 01:16] klepas commented on #101
My idea here is to push most of the current styling for content typography as only applicable to content when inside something like `main` or `article`, and letting the font-size setting of either `body` or `html` predictably size anything outside `main` or `article`. I think this should fix this problem @TrebBrennan ?

[2016-07-05 02:20] TrebBrennan commented on #67
Fixed in `Bugfix/git issues sprint26` #118

[2016-07-05 02:20] #67 closed, assigned to nobody

[2016-07-05 02:57] #122 closed, assigned to petronbot

[2016-07-05 03:18] maxious commented on #70
Fixed in https://github.com/AusDTO/gov-au-ui-kit/pull/125

[2016-07-05 03:30] klepas commented on #70
@maxious minor issues still with the code blocks on mbl portrait:

![screenshot_20160705-132558_720](https://cloud.githubusercontent.com/assets/52766/16573200/803b15be-42b4-11e6-866c-b7fb97fdff0d.png)

![screenshot_20160705-132636_720](https://cloud.githubusercontent.com/assets/52766/16573205/8a50de12-42b4-11e6-897e-792b4a8497fe.png)

[2016-07-05 03:33] klepas commented on #101
Added note. I think we can close this issue here now, since it hopefully answers @TrebBrennan’s question?

[2016-07-05 03:35] klepas commented on #70
Low priority, but yea, I think it might be worth adding. If you agree, I can add a card.

[2016-07-05 03:37] #70 closed, assigned to nobody

[2016-07-05 03:40] klepas commented on #70
Jira ref: I’ve noted this down under [DESIGN-141](https://govausites.atlassian.net/browse/DESIGN-141).

[2016-07-05 03:44] catherine-jones commented on #31
Would you like me to create a pull request for charts? Or are you not at a place to support that yet?

[2016-07-05 04:04] catherine-jones commented on #31
no I don't but I could probably do it tomorrow

[2016-07-05 04:09] maxious commented on #31
If it's just some notes, you can either make a blank SCSS file or add it into README.md

[2016-07-05 04:44] maxious commented on #99
If we put the SVG icons into files, we could use https://www.npmjs.com/package/gulp-svg2png while still using https://github.com/franzheidl/sass-inline-svg to inline if you want?

[2016-07-05 04:51] klepas commented on #99
This stuff relates also to the use of fontawesome (via the fontawesome -> svg/png project).

[2016-07-05 04:52] maxious opened #126 "Feedback button/header differ on IE8"
Seeing this on IE8:
<img width="836" alt="screen shot 2016-07-05 at 2 35 57 pm" src="https://cloud.githubusercontent.com/assets/81432/16574218/e16ba672-42bf-11e6-9a1c-1b3ce2722365.png">

Colors and vertical sizing differ from Chrome/Firefox/IE9+

[2016-07-05 04:53] klepas commented on #99
I think next sprint might well call for a 2–3 spikes, one of which could easily be the iconography work, yea.

[2016-07-05 23:38] ltankey opened #131 "UIkit javascript file not in readme"
If there is a JS file that accompanies the ui-kit css, a link would be good on the README to hint at its existence.

[2016-07-05 23:40] maxious commented on #131
Also need to mention about how to load google fonts (JS or CSS link or whatever).
Might help to have a bare bones example page with a full &lt;head>

[2016-07-05 23:48] ltankey opened #132 "[bug] main content rendering over itself"
Content beneath our main class is rendering over itself, i.e.:

![image](https://cloud.githubusercontent.com/assets/5369670/16603353/b0126ea4-435e-11e6-9faa-08f413f85025.png)

I can reproduce this on the short.html example page in the ui-kit KSS:

http://gov-au-ui-kit.apps.staging.digital.gov.au/examples/short.html

![image](https://cloud.githubusercontent.com/assets/5369670/16603359/c762b424-435e

[2016-07-05 23:52] TrebBrennan commented on #132
Looks like <main> needs a width?

[2016-07-05 23:53] TrebBrennan commented on #132
Looks like `<main>` needs a width set?
Eg. Try 80%

[2016-07-05 23:59] klepas commented on #131
I think this kinda qualifies as a bug of the styleguide?

[2016-07-06 00:32] maxious commented on #132
Setting main 100% doesn't seem to have any ill effect and was the same solution in #111

[2016-07-06 02:32] simonschwartz opened #135 "[bug] flex box on listings"
When implementing a vertical list the images do not line up at the bottom. You can view an example at http://listings.apps.staging.digital.gov.au/comms-arts-agency/index.html

[2016-07-06 03:37] #101 closed, assigned to nobody

[2016-07-06 05:09] simonschwartz commented on #135
@petronbot do you mean set the aspect ratio of the images? I think that would be a fair constraint for images that are place in these particular list views.

[2016-07-06 05:09] TrebBrennan commented on #62
Also noticed that the "show menu" button should not exist without JS support.
See attached screenshot with JS disabled.

<img width="1086" alt="screen shot 2016-07-06 at 9 46 23 am" src="https://cloud.githubusercontent.com/assets/15899197/16608081/af216086-438b-11e6-85f7-91d87c82faf8.png">

[2016-07-06 05:23] klepas opened #136 "KSS homepage missing .current/.active styling for “Getting started”"
When a user is on the homepage of the KSS guide, the page name ≠ the name of the page in the navbar (currently “Getting started”), and that nav item is not given the `.active` styling.

[2016-07-06 05:27] klepas opened #137 "It is not apparent what version of the UI-Kit the current KSS guide references/documents"
When a user is browsing the KSS they can see when it was last updated (a date), but it’s not readily apparent what version of the ui-kit the KSS actually documents — it would be neat to update this automagically somehow as we do new releases.

[2016-07-06 05:38] #132 closed, assigned to nobody

[2016-07-07 00:45] jonathanconway opened #142 "Numeric input field that shows keypad on mobile browsers"
We would like to pop up a numeric keypad when the user focuses on a numeric field, on mobile browsers:

![screen shot 2016-07-07 at 10 43 39 am](https://cloud.githubusercontent.com/assets/310330/16639097/cdf79e04-442f-11e6-95b7-f7b33aa49dde.png)

Currently, however, default browser behaviour is to show a mixed keypad with some numeric symbols and some characters:

![screen shot 2016-07-07 at 10 43

[2016-07-07 07:59] klepas commented on #99
Does that fix this issue? :S

[2016-07-10 11:24] simonschwartz commented on #111
Sorry it took me so long to check back on this bug. Looks great - only thing I notice is that there is a margin-left still on the article on desktop which means it doesn't maintain consistent justification with other page elements.

![bug1](https://cloud.githubusercontent.com/assets/12635736/16713249/aa11c9b2-46e4-11e6-98e7-a9441fcf9fe5.png)

[2016-07-10 11:31] simonschwartz opened #144 "Feature request - listing update"
Requesting an additional listing style. This listing style is for items where a recurring phrase in list items is displayed above the rest of the list item rather than in a single line.

![listing](https://cloud.githubusercontent.com/assets/12635736/16713273/6567c306-46e5-11e6-8e3e-81eea3385c38.png)

[2016-07-10 22:42] simonschwartz opened #145 "Feature request - listing dividers"
Requesting styles for headings that separate lists as pictured below. This is currently used on an A-Z department listing page

![list-dividers](https://cloud.githubusercontent.com/assets/12635736/16716566/6849b580-4743-11e6-8e0f-5eb0ca15c6c7.png)

[2016-07-10 23:20] simonschwartz opened #146 "Feature request - see more link"
Requesting style for a 'See more' link. This style of link appears near page listing widgets and links to the full page for that particular content.

![seemore](https://cloud.githubusercontent.com/assets/12635736/16716737/b6756a42-4748-11e6-856b-a4ef20963ddf.png)

[2016-07-10 23:35] simonschwartz opened #147 "Feature request - sort widget"
Requesting styling for a sort/filter widget. This widget sits above certain listings such as a news listing and allows the user to sort by date, alphabetical etc

![sort-widget](https://cloud.githubusercontent.com/assets/12635736/16716826/caee836c-474a-11e6-9882-cd0021f878b3.png)

[2016-07-10 23:48] simonschwartz opened #148 "Enhancement - Provide ability to remove border-top from vertical lists"
The vertical lists should have a `border-top` when used for news items, however other vertical lists in the design should not have `border-top`. It would be great to be able to easily specify whether the component should or shouldn't have a `border-top`.

Example can be seen on the Agency Landing page

**Current**

![before-listing](https://cloud.githubusercontent.com/assets/12635736/16716870/4f94

[2016-07-11 00:01] klepas commented on #145
We should just be able to use headings for this, and stick them in a series of `section`s or something, I reckon?

[2016-07-11 01:25] simonschwartz commented on #111
@petronbot Thanks - I should probably make sure I go through the documentation after each release :)

As far as centering the main content area - that's probably a design question for @alzbetaT.

Let's re-close this issue as it's working as intended.

[2016-07-11 01:25] #111 closed, assigned to nobody

[2016-07-11 01:29] simonschwartz opened #149 "Bug - top and bottom borders on horizontal lists"
The first `<li>` should have no `border-top`

The last `<li>` should have no `border-bottom`

**Example of current styling below**

![wrong](https://cloud.githubusercontent.com/assets/12635736/16757402/27f0a162-484f-11e6-8560-70382920d208.png)

**Example of correct styling below**

<img width="724" alt="after" src="https://cloud.githubusercontent.com/assets/12635736/16717408/27a4425a-4759-11e6-8f0

[2016-07-11 01:44] simonschwartz commented on #145
I think that's a pretty reasonable approach. It would just mean removing `list-style-type` and adding colour to the heading

[2016-07-11 02:47] simonschwartz commented on #145
I guess this raises the question of if we even need to build a component for this in the UI Kit. All we need is a way to remove the `list-style-type`. Is adding a helper class to the ul to hide `list-style-type` out of the question? eg `<ul class="no-list-style">`

Another component that may benefit from this is the minister cards, where a list of the minister positions is displayed under their na

[2016-07-11 06:44] AlzbetaT opened #151 "Index links animation"
**Spacing:**
When clicking on an Index link eg "Skip links" the focus on the anchor heading "Skip link" needs to be made more obvious. Increase the space from the top of the browse. See screenshot showing current (left) and desired (right) spacing.

![screen shot 2016-07-11 at 4 20 11 pm](https://cloud.githubusercontent.com/assets/19522643/16721765/213dc7b6-4785-11e6-8bf5-8b4dddd46aa8.png)

**Velo

[2016-07-11 08:29] elisechant commented on #142
An  `<input type=number />` should do what you want. Probably this issue could be expanded to include a mix of the other array of type attribute permutations like type=email?

[2016-07-11 08:35] jonathanconway commented on #142
@elise, sorry, I should have explained. The "mixed keypad" is shown when type=number. We currently have to use Daniel Friesen's hack (linked in my comment) to make it show a proper numeric keypad.

[2016-07-12 00:45] elisechant commented on #142
A decision to go with the "hack option" says to me that the team values "use affordances" above "semantic affordances" (which I also agree with) - is that correct? Is there a way you can implement "the hack" method but also restore semantics perhaps using aria?

[2016-07-12 03:19] maxious commented on #26
We now have [class^='controls'] section.right for this specific case.

[2016-07-12 03:29] ltankey commented on #26
Right now, no. Our toolbar is the only current example which requires left and right aligned elements. This bar will sit on every page, but we don't yet have any other templates that require the same kind of separation.

[2016-07-12 06:08] #62 closed, assigned to nobody

[2016-07-12 06:14] petronbot opened #156 "Bug - Gulp `watch` task gets stuck in a loop"
## What I did

Running a `gulp watch.build`
## What I expected to see

The `build` task being run every time I make a change to the watched files & folders.
## What I saw

The build task seems to trigger itself, running over and over again until the end of time.

[2016-07-12 23:12] elisechant commented on #31
as long as you caveat the browser support matrix

[2016-07-13 00:44] elisechant commented on #156
looks ok to me:

[code]

@petronbot which asset, file did you change?

[2016-07-13 01:26] ltankey commented on #131
Perfect thanks!

[2016-07-13 01:26] #131 closed, assigned to nobody

[2016-07-13 05:30] hannah-ustwo opened #159 "Bug - Side nav bounces when navigating between pages"
## What I did

I was clicking between the guide's pages, browsing. (Chrome)
## What I expected to see

A stationary side nav
## What I saw

A side nav that bounced whenever I landed on a different page
![0d4fa3082bae7bcea2307315aa026e18](https://cloud.githubusercontent.com/assets/19661064/16792749/ba7447d6-490e-11e6-893e-e21356a059be.gif)

[2016-07-13 05:55] klepas commented on #148
@simonschwartz would adding a reset that applies to these lists when nested in a say `section.news` or something work for you?

[2016-07-13 06:28] #136 closed, assigned to nobody

[2016-07-13 06:57] klepas commented on #159
Fixed in https://github.com/AusDTO/gov-au-ui-kit/pull/160

[2016-07-13 06:57] #159 closed, assigned to nobody

[2016-07-13 06:57] klepas commented on #156
Fixed in #162.

[2016-07-13 06:57] #156 closed, assigned to nobody

[2016-07-13 07:01] klepas commented on #137
Resolved by #158.

[2016-07-13 07:01] #137 closed, assigned to nobody

[2016-07-13 23:03] simonschwartz commented on #149
Latest release of UI Kit fixes this bug

[2016-07-13 23:03] #149 closed, assigned to nobody

[2016-07-13 23:13] simonschwartz commented on #148
@klepas That sounds reasonable. Currently we have 2 deviations of the listings in the prototype
- Homepage category list (border on left)
- Agency homepage responsibilities list (no border)

Maybe an initial approach default is no borders, `section.news` = border-top and `section.categories` = border left

Thoughts?

[2016-07-13 23:18] klepas commented on #148
@simonschwartz or removing borders as the default? (derp that’s what you meant — sorry)

If you’re up in Syd, could you run this past Gaz to see if we can change our defaults instead of making special cases?

[2016-07-13 23:28] simonschwartz commented on #148
Good point @klepas  Had a chat with @alzbetaT - going to hold off for now and let the designers do a stocktake of the varying listing styles and see if we can consolidate

[2016-07-13 23:55] klepas commented on #148
Sounds good. (:

[2016-07-14 00:50] klepas commented on #36
Just a heads up that this is in our current sprint (28), and that I’m gonna be doing some prototyping on this today. :)

[2016-07-14 01:18] #144 closed, assigned to nobody

[2016-07-14 01:33] tessereth opened #164 "Nested index links all appear on the same level"
## What I did

Trying to create a table of contents from a page with nested heading levels, I generated the following markup:

[code]
### What browser and device I was using

Chrome desktop
## What I expected to see

I expected to see the sublists appropriately indented
## What I saw

![screen shot 2016-07-14 at 11 33 13 am](https://cloud.githubusercontent.com/assets/4583474/16825291/c780b36c-49b6

[2016-07-14 01:48] TrebBrennan commented on #164
@tessereth Like this example?
https://en.wikipedia.org/wiki/Bridges_of_York

[2016-07-14 01:49] tessereth commented on #164
Something like that would be great

[2016-07-14 03:07] alecky opened #165 "There is default margin on buttons at the tablet breakpoint"
## Buttons have default margin at tablet breakpoint

This has the result that in a standard left aligned layout the buttons will not align.

this is caused by the following:

`@include media($tablet) {
    margin: $small-spacing;
  }`

[2016-07-14 05:08] elisechant commented on #31
... as well as support es6 syntax

[2016-07-14 06:05] TrebBrennan opened #166 "Bug - Disabled input field is visually similar to default"
## What I expected to see

A more dramatic visually identifiable difference between `input` and `input[disabled]`
### Additional information

Consider `border-style: dashed;`

[2016-07-14 12:34] TrebBrennan commented on #142
Our friends at GDS recommend this:

[2016-07-14 12:51] jonathanconway commented on #142
Cool, @TrebBrennan! That looks much more minimal than the hack, and I don't think it would interfere with the semantics, to address @elisechant's point.

Might be good for I and others to check the Gov UK service manual in future as well.

[2016-07-14 21:35] elisechant commented on #142
@jonathanconway seems like you were on the right path form the start - DO IT! Be sure to also document the quirk in the style guide and include those links.

It's also a great idea to take a deep dive in to Gov UK service manual to find how other quirks that we might not yet know about are solved  - new JIRA task?

[2016-07-15 01:45] jonathanconway commented on #142
Done. :)

[2016-07-15 01:46] #142 closed, assigned to nobody

[2016-07-15 04:26] klepas opened #170 "Elaborate list view patterns have left alignment issues"
## What I did

Navigated to `examples/index.html` (http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/examples/), scrolled down the page and noticed the left alignment of the custom list patterns (`_lists.scss`) commencing with `ul.list-horizontal` breaks out of the page grid, into the shifted gutter–column–gutter space between the main content area and the aside/local nav.
### What browser

[2016-07-15 05:31] alecky opened #171 "strong vs header font weight"
## Header is using a different font weight vs the strong tag

the header appears to have a font weight of 700 vs the strong tag having a value of 600, is this intentional?

[2016-07-15 06:34] TrebBrennan commented on #171
Good pickup @alecky :)

[2016-07-15 06:44] #171 closed, assigned to nobody

[2016-07-16 04:59] klepas commented on #164
I’ve added this to Jira, under `DESIGN-202`.

[2016-07-16 05:26] klepas commented on #26
I’ve created a Jira card to document the controls bar feature (`DESIGN-203`).

[2016-07-17 10:28] TrebBrennan commented on #170
In `_typography.scss` there is a negative margin left set on all `<li>` elements.
`384: margin-left: -($small-spacing / 4);`
I imagine it was added to better optically align lists to body copy, but maybe we need to reassess how necessary this rule is if it means having to manually reset it on every list? #simplerClearerFaster

[2016-07-17 10:53] klepas commented on #170
I just realised where this came from, and it’s me! :p

I added 0.2em padding to pad `li` from their bullet or ordered-list number for better readability and scanability, since they were a tad too close by default to the marker… and then used a negative margin to pull them back in line / align them with all the other type elements (def lists, callouts, etc).

I definitely want to keep list items al

[2016-07-17 12:57] TrebBrennan commented on #170
Yeah I had thought that we could specify it just for `.content-main li` but we have many types of other lists appearing in `.content-main` which we would have to specify a fix for, not to mention documenting this quirk for future users.

I think it would be worth reassessing the effort versus value of this one.

[2016-07-17 23:05] tobyhede opened #174 "Feature Request - Docs around pulling in SCSS"
govau has some custom pages (like the homepage) that reuse mixins and variables from ui-kit.

It would be helpful to have some documentation on using the scss files rather than compiled css in a project.

[2016-07-17 23:16] elisechant commented on #174
+1.
Potentially the option to include mixin imports in project instead of a built css file?
Big frameworks like Bootstrap organise this way.

[2016-07-17 23:41] klepas commented on #174
We have some info on this (where to get the SCSS from) in the README, but not much beyond that.

@tobyhede @elisechant just scoping this: how verbose do you feel this could/should be? — we could provide extra info on the SCSS, or go all the way in documenting each of the custom mixins and extends we have added…?

That said, I’d rather enjoy pulling together a piece of documentation on the SCSS lik

[2016-07-17 23:42] maxious commented on #174
One small hitch is if you're using the custom inline() function, should the scss-merge code (which is in the lib folder) handle that and do it before merging?

[2016-07-18 00:01] klepas commented on #174
For refs: we had the link to the compiled SCSS up in the `README` but removed it because we had no real further guidance on using it.

We’re going to hold off publicly noting it again until we figure out a better means of distribution, as Petra mentioned.

If you absolutely need the SCSS in the meantime it’s up at `https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/_ui-kit.scss`.

[2016-07-18 00:10] #99 closed, assigned to petronbot

[2016-07-18 00:17] simonschwartz commented on #36
@petronbot it's something we will need included but I'm more than happy for that to be tackled in a separate sprint

[2016-07-18 00:33] klepas commented on #36
FWIW, mentioned the accordion feature to a friend over the weekend and immediately received the Q: will there be an expand/collapse all feature, and was subsequently threatened with defenestration if we did not include said feature.

[2016-07-18 02:05] klepas opened #175 "Bug - gulp watch/serve not picking up on changes"
## What I did

I was working on a new feature while using `gulp serve` or `gulp watch` locally, and none of my edits to `_*.scss` files were being picked up.

@TrebBrennan reports having similar issues with `gulp watch` last night (17/07).
## What I expected to see

The watch or serve task to pick up on edits and do a rebuild.
## What I saw

With `gulp serve`, even after changing numerous files:

[2016-07-19 02:18] phil-banks opened #179 "Bug - Buttons and input field sizing too small for touch"
## What I expected to see

From memory i think that we had these originally at 48pxH (3emH, ?? rem) to account for touch screen/mobile devises.
## What I saw

currently these are in at 2.4 emH, disregard if this is a conscious decision

[2016-07-19 02:22] TrebBrennan commented on #179
Thanks @phil-banks, it was not a conscious decision.
We'll need to review. Good pickup.

[2016-07-19 02:33] phil-banks commented on #179
cool @TrebBrennan,  QQ is this the right forum for these styling type issues?

[2016-07-19 02:35] TrebBrennan commented on #179
We accept all questions! If you think it could be an issue or something that was overlooked just ask :)

[2016-07-19 03:54] phil-banks opened #180 "Bug - Buttons currently have margin-left on them"
## What I expected to see

Buttons that left align to the text or object above.
## What I saw

Buttons currently have a margin on all sides, this makes them appear out of alignment with text or objects above.
![screen shot 2016-07-19 at 1 54 17 pm](https://cloud.githubusercontent.com/assets/20059254/16938129/53d69192-4db8-11e6-8f54-c923123ce196.png)

[2016-07-19 03:56] TrebBrennan commented on #180
Thanks @phil-banks
Is that the same as this issue? https://github.com/AusDTO/gov-au-ui-kit/issues/165

[2016-07-19 03:58] phil-banks commented on #180
@TrebBrennan nah this ones about alignment cuz of the margin, previous one was about size.  I probs could have rolled them into 1 if I had thought about it. sorry.

[2016-07-19 03:59] phil-banks commented on #180
@TrebBrennan disregard, just saw your linked issue... haha

[2016-07-19 04:01] #180 closed, assigned to nobody

[2016-07-19 04:04] TrebBrennan commented on #165
More info from @phil-banks

## What I expected to see

Buttons that left align to the text or object above.

## What I saw

Buttons currently have a margin on all sides, this makes them appear out of alignment with text or objects above.
![screen shot 2016-07-19 at 1 54 17 pm](https://cloud.githubusercontent.com/assets/20059254/16938129/53d69192-4db8-11e6-8f54-c923123ce196.png)

[2016-07-19 04:32] jonathanconway opened #181 ""Example"/help-text on all fields?"
Wanted to float the idea of having "Example" hints on all fields as a "best practice".

These hints would show a sample of the kind of input that's required, thus making it easier for users to determine what should be entered.

For example, for credit card numbers:

![screen shot 2016-07-19 at 2 30 46 pm](https://cloud.githubusercontent.com/assets/310330/16938640/6b1073c8-4dbd-11e6-93a6-c1d8216f25

[2016-07-19 05:00] jonathanconway commented on #181
Oops this is already done [here](https://gov-au-ui-kit.apps.staging.digital.gov.au/section-forms.html#guide-forms-3-hinttext). Thanks UI-Kit team!

[2016-07-19 05:03] #181 closed, assigned to nobody

[2016-07-19 05:07] #146 closed, assigned to nobody

[2016-07-19 06:24] #175 closed, assigned to petronbot

[2016-07-19 07:10] #148 closed, assigned to nobody

[2016-07-19 08:06] TrebBrennan commented on #147
@petronbot I've had an early stab at this, check this branch
https://github.com/AusDTO/gov-au-ui-kit/compare/feature/DESIGN-147_inline-nav

[2016-07-19 12:02] simonschwartz commented on #147
@petronbot  I'd be happier to use @TrebBrennan version. I believe Trev also extended upon the prototype one by adding a more distinct visual design for active items (This is something that came from recent usability testing)

[2016-07-19 23:47] petronbot opened #185 "Bug - Images not loading in Guide examples"
## What I did

Went to the List views: Horizontal list section of the guide: http://gov-au-ui-kit.apps.staging.digital.gov.au/section-list-styles.html#guide-list-styles-1-horizontal-list
### What browser and device I was using

Chrome, OS X 10.11
## What I expected to see

Example lists with sample images
## What I saw

Empty boxes where the images should be.

![image](https://cloud.githubusercont

[2016-07-20 00:17] alecky opened #186 "Desktop width (1200) there is no margin(gutter)"
## No gutter as soon as page goes form tablet to desktop

Once the screen width changes the content gets stuck right up to the edge of the window. See image

![image](https://cloud.githubusercontent.com/assets/6065552/16970947/0c40b456-4e63-11e6-8c82-024ac5c3966a.png)

[2016-07-22 01:49] alecky opened #194 "Neat omega mixin for tablet resolution variable required"
## When nesting omegas between breakpoints the min-with and max-width needs to be supplied

As per the article on [here](https://github.com/thoughtbot/neat/issues/116) which states that the min and max width needs to be provided. We need a mobile only and tablet only variable for these cases.

For example:

[code]

[2016-07-22 13:18] klepas commented on #151
Resolved in release 1.3.0.

[2016-07-24 03:56] simonschwartz opened #201 "Feature request - pagination"
Pagination is used on news list pages. Design from @alzbetaT

![paginator](https://cloud.githubusercontent.com/assets/12635736/17081714/6e3b0260-51a6-11e6-886b-638e81ca5d18.png)

[2016-07-25 02:12] ltankey opened #203 "Abstract style doesn't apply to nested paragraphs"
## What I did

Created a `div.abstract` block.
Nest a paragraph tag beneath it with text.
### What browser and device I was using

Chrome.
## What I expected to see

I expected to see the font-size of the paragraph block nested beneath the abstract tag inherit the same size as text nested directly beneath the abstract block. i.e.

[code]
## What I saw

The text nested beneath the paragraph block e

[2016-07-25 04:59] TrebBrennan commented on #203
See also issue #101

[2016-07-26 04:29] alecky commented on #165
As an additional note: when a button is inside of a list-horizontal the margin left is removed.

[2016-07-26 06:40] klepas opened #212 "Accordion outline to bg contrast issues"
## What I did

Pop over to either:
- https://849-59086769-gh.circle-artifacts.com/0//home/ubuntu/gov-au-ui-kit/build/section-accordions.html
- https://849-59086769-gh.circle-artifacts.com/0//home/ubuntu/gov-au-ui-kit/build/examples/index.html

(Builds are from Wed arvo, the 26th, from the `develop` branch — accordions haven’t been touched since last release, v1.3.0.)

A user testing for the Transi

[2016-07-26 06:41] klepas commented on #212
Reported initially by @maxious — hey, can you key in anyone who needs to know that this report is up, and here, and will be notified when it closes?

[2016-07-26 06:41] maxious commented on #212
yeah, will share in channel

[2016-07-26 07:05] klepas commented on #203
Gotcha.

We can fix this easily, to cater for both `p.abstract` and `div.abstract p`.

Also, I propose we discuss the issue raised in #101, alongside those mentioned by Alex Riolo.

[2016-07-26 07:13] TrebBrennan commented on #212
FYI on top of a colour change the Transitions team are trialing an underline on the Accordion/Button in order to give it more affordance as something which is clickable. (Like a traditional link)

They're planning to report back to us with whatever they validate during their usability testing.

CC: @phil-banks

[2016-07-26 11:53] TrebBrennan commented on #194
Nice find @alecky this is something we've been trying to resolve.

We're likely to try something like this:
https://github.com/thoughtbot/neat#how-do-i-use-omega-in-a-mobile-first-workflow

[2016-07-27 05:45] simonschwartz opened #216 "Footer width exceeds page width"
`.wrapper` container in footer is overflowing beyond browser window size
## What I did

Viewing homepage on govau beta
### What browser and device I was using

Firefox
## What I expected to see

The footer width being 100% of the browser window size
## What I saw

The footer width being larger than 100% of the browser window size
### Additional information (optional)

![wrapper-overflow](https://c

[2016-07-27 23:11] TrebBrennan commented on #216
Thanks @simonschwartz
Are you able to confirm if this is still an issue in our current release?

[2016-07-27 23:27] TrebBrennan commented on #194
Possible fix in PR#210
https://github.com/AusDTO/gov-au-ui-kit/pull/210/files#diff-e529945c9defd9ee06cd758ccabf8f3fL83

[2016-07-27 23:31] #186 closed, assigned to nobody

[2016-07-27 23:52] TrebBrennan commented on #203
Ticket: DESIGN-262

[2016-07-28 01:00] jonathanconway opened #218 ""Info" call-out?"
I noticed we have a "warning" themed callout with red colouring.

Could we also have an "info" call-out, in a more "calming" colour (e.g. turquoise)?

A scenario for this has come up in Identity, specifically, when the user goes to update their details and we want to "call out" that the change will need to be verified:

![screen shot 2016-07-28 at 10 59 50 am](https://cloud.githubusercontent.com/a

[2016-07-28 03:25] klepas commented on #218
@jonathanconway Sure. (:

This is easy to do, just low priority for us given the impending deadlines. Might add in my spare time later this week.

[2016-07-28 03:28] jonathanconway commented on #218
Sure no rush 😁

[2016-07-28 09:47] maxious opened #222 "Single column of content does not fill width of screen"
## What I did

Implemented http://gov-au-ui-kit.apps.staging.digital.gov.au/examples/single-col.html
which is a page with only content-main article and no side navigation
### What browser and device I was using

Macbook Pro 13", Chrome 51.0.2704.103 (64-bit)
## What I expected to see

Content is able to fill the whole screen

![](https://cloud.githubusercontent.com/assets/81432/17208342/b195d4b0-5

[2016-07-28 22:50] ltankey opened #223 "Smooth scroll doesn't work with turbolinks"
# Bug - smooth scrolling doesn't work for pages that are navigated to, as opposed to directly visited.
## What I did
- Navigate to `/television-tv-reception/troubleshooting-tv-reception` on the platform
- Click on an item in the table of contents
- Observe smooth scrolling works
- Navigate to the parent item `/television-tv-reception`, and from the right-hand nav click on the `troubleshooting-tv-r

[2016-07-28 22:53] maxious commented on #223
We've discovered some events that are triggered by turbo links in implementing Google Analytics. Namely the address bar changes and TurboLinks 5 also fires it's own events https://github.com/joshdvir/google-analytics-turbolinks/blob/master/lib/assets/javascripts/google-analytics-turbolinks.js.coffee

[2016-07-28 22:54] ltankey commented on #223
Yes a fix as suggested by https://github.com/turbolinks/turbolinks was to replace `DOMContentLoaded` with `turbolinks:load`

[2016-07-29 00:02] TrebBrennan commented on #194
Should be resolved in v1.5.0
https://github.com/AusDTO/gov-au-ui-kit/pull/210/files#diff-e529945c9defd9ee06cd758ccabf8f3fL51

[2016-07-29 00:02] #194 closed, assigned to nobody

[2016-07-29 00:24] maxious commented on #222
One use case could be the GOV.AU homepage. Do you have an example HTML file for that?

[2016-07-29 00:37] ltankey commented on #223
@petronbot probably not - a solution might be to call both an accept that on page load, all events will be bound twice.

This isn't a problem if the event bindings are idempotent. It really depends on what's being bootstrapped on page load and whether calling everything twice is harmful or not.

[2016-07-29 04:34] #165 closed, assigned to nobody

[2016-07-29 04:34] #179 closed, assigned to nobody

[2016-07-29 06:53] streetdaddy opened #227 "No visual differentiation between h1 and .abstract on section page in mobile browser"
/via Michelle Mortimer
# Expected

Page heading text size should be larger than Abstract
# Actual

Text size is the same for both elements
# Steps to reproduce

Visit https://gov-au-beta.apps.platform.digital.gov.au/television-tv-reception/troubleshooting-tv-reception in Chrome Inspector with Iphone 6 in portrait as the device

![Screenshot from Chrome Inspector](https://www.evernote.com/l/ABbClbq

[2016-07-29 06:56] klepas commented on #227
Confirming this a responsive font-size bug.

Thanks — will fix Monday.

[2016-07-30 03:29] ltankey opened #228 "Bug - Documentation differs between examples and latest release SCSS"
## What I did

Provided markup for a local-nav as per https://gov-au-ui-kit.apps.staging.digital.gov.au/section-navigation.html
### What browser and device I was using

MBP 13'', Chrome
## What I expected to see

I expected, following the markup example, to get a nav with predictable indentation as per:
![image](https://cloud.githubusercontent.com/assets/5369670/17265935/81b5b2e2-5636-11e6-83f6-b0

[2016-07-30 03:35] ltankey commented on #228
A followup: the `is-current` class which is documented no longer works, and appears to have been replaced by `current`? However this change doesn't appear to be documented anywhere.

[2016-07-31 02:16] TrebBrennan commented on #228
Thanks for the report Luke.

`.is-active` and `.is-current` should work as documented inside `.local-nav`
To help us confirm where the issue is, could you temporarily remove all the CSS you are using and load [this file](https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/ui-kit.min.css) instead and let us know if the `.local-nav` is behaving as expected?

Also sorry for adding to the confusi

[2016-07-31 02:56] ltankey commented on #228
Hey @TrebBrennan if you check out the 1.5 scss file on the following line you'll see it's no longer in line with the `is-current` examples:https://github.com/AusDTO/gov-au-beta/blob/develop/vendor/assets/stylesheets/_ui-kit.scss#L7294

Appreciate your help, happy to try out your suggestion and report back when I'm in front of a screen. I think this is just a case of implementation and documentatio

[2016-07-31 04:03] ltankey commented on #228
I'm going to self close this, as if we treat documentation suitable for latest only the markup in the examples matches the implementation. I think we just got into some confusion with the pace of changes and releases.

[2016-07-31 04:03] #228 closed, assigned to nobody

[2016-08-01 00:18] michaelhugill opened #229 "Bug - Alignment of items in news 'modules' (eg on landing pages)"
## What I did

Landing pages for sections (departments, ministers etc) generally have a 'news module' which highlights actual news stories.

Currently, the alignment for displaying those news stories within the module is not left aligned, causing a blank space to appear if only 2 news stories are assigned to the section.
### What browser and device I was using

Macbook
Chrome
Safari
## What I expe

[2016-08-01 00:26] hannah-ustwo commented on #229
Thanks @michaelhugill - this was a bug we've tracked and squashed this sprint, released with v 1.6 on Friday

[2016-08-01 00:29] petronbot opened #230 "Bug: Vertical list style - No margin between list items"
## What I did

Looked at the Vertical list styles on the design guide:
https://gov-au-ui-kit.apps.staging.digital.gov.au/section-list-styles.html#guide-list-styles-2-vertical-style
### What browser and device I was using

MBP - Chrome
## What I expected to see

Nicely spaced out list items
## What I saw

All the list items butted up against each other like sardines in a tin.
### Screenshot

![imag

[2016-08-01 00:44] maxious opened #232 "Bug - Mobile menu chevron rotates around wrong point"
## What I did

Implemented v1.6.0 local nav markup:

[code]
### What browser and device I was using

Macbook 13", Chrome Version 52.0.2743.82 (64-bit)
## What I expected to see

Nice rotation like gov.au/alpha
## What I saw

![50cf2870feb8fcb0f6b88e7fbf8dd1e7](https://cloud.githubusercontent.com/assets/81432/17280518/e5772bd6-57d4-11e6-8c8f-6bc073b01353.gif)

[2016-08-01 00:52] TrebBrennan commented on #232
Thanks Alex.
**Note** button styles are incorrect here too.

[2016-08-01 01:04] hannah-ustwo commented on #227
Got this in progress on Guide's backlog with @klepas on it. Added "roadmap" label.

[2016-08-01 01:05] #223 closed, assigned to nobody

[2016-08-01 01:09] hannah-ustwo commented on #232
Funny little chevron...

Created an issue in JIRA, put directly into our current sprint. https://govausites.atlassian.net/browse/DESIGN-281

[2016-08-01 01:13] hannah-ustwo commented on #230
JIRA ticket created https://govausites.atlassian.net/browse/DESIGN-280

[2016-08-01 01:39] #229 closed, assigned to nobody

[2016-08-01 01:44] klepas commented on #227
Got a proposed fix as a PR up. (:

[2016-08-01 03:59] hannah-ustwo commented on #232
Addressing on #236

[2016-08-01 04:01] klepas commented on #232
This should fix https://github.com/AusDTO/gov-au-ui-kit/issues/232

[2016-08-01 04:01] #230 closed, assigned to petronbot

[2016-08-01 04:54] klepas commented on #227
Fixed in 1.7.0.

[2016-08-01 04:54] #227 closed, assigned to nobody

[2016-08-01 04:55] klepas commented on #203
Fixed in 1.7.0.

Deprecation notice: we will be removing `p.abstract` support in ~v2.0, favouring wrapping the abstract instead in a wrapper, eg. `div.abstract`.

[2016-08-01 04:55] #203 closed, assigned to klepas

[2016-08-01 05:57] petronbot opened #240 "Bug - Menu toggles don't work in IE9"
## What I did

Visited the example page:
http://gov-au-ui-kit.apps.staging.digital.gov.au/examples/index.html
### What browser and device I was using

Windows 7, IE9
## What I expected to see

Normally functioning menu toggles.
## What I saw

The global nav was collapsed, but there was no toggle to let me open and close it.
### Screenshot

![image](https://cloud.githubusercontent.com/assets/548261

[2016-08-01 06:08] #240 closed, assigned to nobody

[2016-08-01 12:52] TrebBrennan commented on #218
FYI early design draft from GovAU/alpha I imagine we will end up heading towards this.
It seems to accommodate most validation types, @jonathanconway is there anything else we should consider?

<img width="619" alt="screen shot 2016-07-29 at 9 33 01 am" src="https://cloud.githubusercontent.com/assets/15899197/17294385/dad90824-5839-11e6-96eb-741b708dd4bb.png">

[2016-08-01 23:58] klepas commented on #218
@TrebBrennan I mentioned these to Alz yesterday, and I’m keen to work on these with her if we get the chance to. (:

[2016-08-02 01:18] klepas commented on #232
Fixed in 1.7.0.

[2016-08-02 01:18] #232 closed, assigned to nobody

[2016-08-02 01:20] klepas commented on #201
Digital Marketplace has some awesome designs for these, inc. for mobile. I propose we liaise with them to get this feature included.

@AlzbetaT I want to key you into this early. (:

[2016-08-02 01:52] klepas commented on #216
I think this is no longer an issue at of 1.5~ as Petra notes. @simonschwartz I’m gonna close this — please let me know if I should re-open. (:

[2016-08-02 01:52] #216 closed, assigned to nobody

[2016-08-02 01:55] klepas commented on #166
This should be fixed as of #238; closing.

[2016-08-02 01:55] #166 closed, assigned to nobody

[2016-08-02 01:56] klepas commented on #151
I think this is complete now @petronbot? The only additional change I can see would be to add some spacing to the top of the anchored heading so that it’s spaced a bit from the top of the UA viewport when you click on the in-page anchor?

[2016-08-02 01:58] klepas commented on #96
@TrebBrennan with the recent localnav changes, I think we’ve provided this now right? (:

[2016-08-02 02:00] klepas commented on #26
@ltankey @petronbot I want to close this — any reason to remain open?

[2016-08-02 02:00] #96 closed, assigned to nobody

[2016-08-02 02:06] klepas commented on #222
@maxious Neg, we have no static html of this page at the moment.

I’m keen to close this issue and track the work to support the homepage in our backlog. Thoughts @maxious @petronbot?

[2016-08-02 02:07] maxious commented on #222
Happy for that, there should be as part of releasing the prerelease header a good demo page for using it (improving the ones already provided to demonstrate the header).

[2016-08-02 02:07] #222 closed, assigned to nobody

[2016-08-02 02:09] klepas commented on #222
I’m going to add an item into our backlog for the homepage.

[2016-08-02 03:22] maxious opened #246 "Feature request - link styling for logo as link on mobile"
As per https://github.com/AusDTO/gov-au-beta/issues/356 want to make the image a link.
Default link styling is to make it all white which makes the logo hard to read. Consider what is a good link styling color for this use case.

[2016-08-02 06:01] TrebBrennan commented on #246
hot-fix for now:

[code]

[2016-08-02 06:21] maxious commented on #246
Tweaked so the logo main isn't all white https://github.com/AusDTO/gov-au-beta/blob/develop/app/assets/stylesheets/_logo-link.scss

[code]

[2016-08-02 07:26] maxious opened #247 "Beta badge color doesn't match dto.gov.au"
Badge in #242 and badges in typography section don't match the colors on https://www.dto.gov.au/standard/service-design-and-delivery-process/

[2016-08-02 10:07] jonathanconway commented on #218
Hey Treb,

Thanks for including me here!

Would be great to do usability & accessibility testing with validation / form interactions as soon as possible.

It might also be good to see these mocked up within a complete form, just to have visual context and see how it sits along-side other components. For example, where will it sit in relation to the field label? (I assume below).

Don’t get me wron

[2016-08-04 00:51] klepas commented on #247
I see this as general tech debt — the badge shouldn’t be an image to begin with.

[2016-08-04 00:52] klepas commented on #246
@maxious Close this? We need to pull this tech debt out, but the issue itself should be fixed for demo, right?

[2016-08-04 00:53] maxious commented on #247
Note that also the badges in the typography section which aren't images also do not match dto.gov.au

[2016-08-04 00:53] maxious commented on #246
Can you include it in your prerelease header so I can remove the custom SCSS in beta?

[2016-08-04 01:33] channyvw opened #250 "Feature request: Single checkbox mandatory error state"
## What I did

Followed the example for a checkbox field from the style guide.
# What browser and device I was using

Not applicable
## What I expected to see

I wanted to style the checkbox for an error state as our single checkbox is meant to be mandatory.
## What I saw

Not applicable
### Additional information (optional)

![screen shot 2016-08-04 at 11 23 44 am](https://cloud.githubusercontent

[2016-08-04 01:34] AlzbetaT opened #251 "Typography: refine spacing"
(priority medium)

Adjust spacing for:

H2 margin-bottom 40px

H3 margin-top 35px  margin-bottom 20px

See attached screenshot showing:
(left) current,  (right) desired

![screen shot 2016-08-04 at 11 32 12 am](https://cloud.githubusercontent.com/assets/19522643/17387470/710c3c0e-5a37-11e6-999a-f09088a62ba0.png)

[2016-08-04 03:09] klepas commented on #251
Hi @AlzbetaT. I can’t easily match the exact px values you give here. Should we do a ghangout to discuss this?

[2016-08-04 03:10] klepas commented on #251
(That said, I can get within about 5px rather easily.)

[2016-08-04 03:21] AlzbetaT commented on #251
@klepas can it be closer, within 1px? 5px makes quite a difference, visually

[2016-08-04 04:15] simonschwartz opened #252 "Bug - [Vertical lists box-sizing issue in Internet Explorer 10/11]"
## What I did

Viewed the gov.au homepage on
### What browser and device I was using

Windows 8.1 Internet Explorer 11
## What I expected to see

The `.list-vertical--thirds` list to display list items in 3 columns when viewed on screen sizes equal to or above tablet size.
## What I saw

List items rows incorrectly breaking.

![flexbox-ie11](https://cloud.githubusercontent.com/assets/12635736/1739

[2016-08-04 06:05] joolswood opened #253 "Missing rel="external" across UI-KIT guide pages"
## What I did

Went to various pages of the UI-KIT and noticed `rel="external"` is missing from relevant links.

[2016-08-05 01:46] ashnewport opened #255 "Bug - 'gulp-svg2png' fails during build on Windows"
## What I did

Cloned the repo then ran `npm install` and `gulp build` having made no modifications to the code at this point.
### What browser and device I was using

Windows 10, Git Bash
## What I expected to see

`Style guide build completed successfully!` logged in the terminal window.
## What I saw

[code]
### Additional information (optional)

Adding XML declaration to the start of `.svg` fi

[2016-08-05 01:47] TrebBrennan commented on #255
@maxious FYI

[2016-08-05 01:48] jonathanconway opened #256 "Eliminate unnecessary nesting / flatten selectors out"
Can we remove nesting that isn't strictly necessary in order to render the component in a visually correct way?

For example, in [_forms.scss](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/_forms.scss#L72), instead of this...
`form {
  ...
  .hint {
    ...
  }`

...can we just have this?
`.hint {
  ...
}`

Reasons:

1) Specificity conflict. If I try to hide the hint by adding a

[2016-08-05 02:35] simonschwartz opened #258 "Bug - [Vertical lists are not displaying correct widths in Internet Explorer 9/10]"
## What I did

Viewed any vertical list on gov.au
### What browser and device I was using

IE9/10
## What I expected to see

I expected to see the vertical lists displayed in columns on tablet and above
## What I saw

Vertical lists did not display in columns and the widths on items was not correct
### Additional information (optional)

![home-bad](https://cloud.githubusercontent.com/assets/126357

[2016-08-05 02:36] klepas commented on #258
@petronbot This sounds like a ripe time to consider using the `span-columns` neat function to carve these into the grid perfectly, and avoid IE flexbox issues?

[2016-08-05 02:52] maxious opened #259 "Bug - sidenav doesn't go to the side in IE8"
## What I did

Loaded http://gov-au-ui-kit.apps.staging.digital.gov.au
### What browser and device I was using

IE 8.0.6001.18702, Windows XP
## What I expected to see

Sidebar is on the side
## What I saw

![virtualbox_ie8 - winxp_05_08_2016_12_51_39](https://cloud.githubusercontent.com/assets/81432/17424889/6eab5f60-5b0b-11e6-8eed-52f0372007d4.png)
### Additional information (optional)

KSS does

[2016-08-05 02:57] elisechant commented on #259
@maxious personally I think this is reasonable to ignore for Progressive Enhancement reasons

[2016-08-05 03:30] elisechant opened #260 "Feature request - "JavaScript must be enabled to use this site/feature" interstitial"
Provide a component which might be used in a feature switch situation if JavaScript is disabled and the feature requires JavaScript.

You can achieve this with the `<noscript>` element, and may or may not be toggled off by leveraging the style class `html.no-js`. For reference, Facebook use something like this on their main desktop site.

I expect the interstitial would provide at minimum:
- a des

[2016-08-05 03:40] klepas commented on #258
Agreed on 3. I put up a ticket in Jira for this refactor (`DESIGN-318`), noting that we’re opting for option 3, and that we want to then use span-cols over flexboxes.

(@petronbot I think that’s how I understood option 3, after removing the inherited styles?)

[2016-08-05 03:57] klepas commented on #259
@elisechant

✊  _bump_ ✊

[2016-08-05 04:00] klepas commented on #256
@petronbot @jonathanconway Would you two be up to do a ghangout on this topic? (:

[2016-08-05 04:03] jonathanconway commented on #256
A gangnamout? Yesss

<img src="https://www.wired.com/images_blogs/gadgetlab/2013/07/gangnam-style-feature.jpg" height="150px" />

[2016-08-05 04:09] klepas commented on #256
Possibly related to `.hint`: an anchor with `rel="help"` — can be another resource on another page, or a JS-powered widget.

[2016-08-05 04:22] jonathanconway commented on #256
👍

---

So should we remove other nested components from form. E.g. `label`, etc? Maybe we should err on the side of keeping things flat and only add hierarchy when necessary?

Then again, I can understand if people think `input[type=checkbox]`, `input[type=radio]`, etc should require a `<form>` container, for semantic HTML reasons.

[2016-08-05 04:25] klepas commented on #256
This is where I’d be keen to have a chat together about this, as there will be a number of components where a strong argument can be made to enforce tight specificity, but, we should have a rationale for these instances, and better yet, we should document them.

[2016-08-05 04:36] klepas commented on #255
@ashnewport what an awesome bug report — thank you. :D

[2016-08-05 04:45] jonathanconway commented on #256
@klepas agreed. Even if an element semantically _must_ be enclosed in a given parent, I still don't think that's grounds to include the parent element in the selectors. As noted above, what if you want to compose that class with other classes? E.g. add a `hidden` class to it? You risk having override issues because of the specificity.

[2016-08-05 04:49] klepas commented on #256
@jonathanconway In general, I’m quite wary of helper classes. I think I’m still in the position currently where I feel we might be able to anticipate the need for additional classes.

I vote we have a catchup about this.

I also vote for cleaning up some of the code that you addressed above.

[2016-08-05 04:50] jonathanconway commented on #256
Yep, agree to having a catchup. :smile:

[2016-08-05 05:25] elisechant commented on #260
👍 love it

[2016-08-05 06:41] maxious commented on #259
Fine with me for now - just something to flag for your foundation style :)

[2016-08-05 06:54] klepas commented on #222
I put this up under `DESIGN-320` in Jira.

[2016-08-05 07:07] klepas commented on #259
A related (larger issue?) — from what I can tell from the screenshot — is that this breaks the grid alignment, centering the content space? If so, should we fix _that_, and track the decision to deal with how the nav then stacks separately?

What do you think @petronbot

[2016-08-05 08:19] elisechant commented on #255
it's going to be hard to support Windows cli. Recommend vagrant environment option or ignore Windows.  Windows is notoriously horrible on CL.

[2016-08-08 00:39] TrebBrennan commented on #260
Agreed we should do this but need make the wording super simple:

@joolswood Awesome if you could provide some word-smithing on this?

[2016-08-08 02:25] TrebBrennan commented on #170
@Fixed in #257

[2016-08-08 02:25] #170 closed, assigned to nobody

[2016-08-08 05:59] #185 closed, assigned to nobody

[2016-08-08 06:18] #255 closed, assigned to nobody

[2016-08-08 23:04] elisechant opened #265 "Feature request - form validation error messages or error summary blocks"
I can see you have invalid form inputs, but I'd like to also have an error message directly beneath that invalid input and/or a summary error block at the top of form (and probably more accessible).

[2016-08-08 23:07] elisechant opened #266 "Feature request - form validation where env has no-js or optional JavaScript lib"
I'd like to have form validation in my app for server-rendered forms.

I'd like this to be rolled up somehow so it could work with JavaScript disabled on form submit, and then i'd like to optionally include a client side validation plugin to make the validation async.

[2016-08-08 23:08] TrebBrennan commented on #265
Hey @elisechant
Something like the [convo that is happening in 218](https://github.com/AusDTO/gov-au-ui-kit/issues/218#issuecomment-236571803)?

[2016-08-08 23:09] elisechant commented on #265
@TrebBrennan ah cool. sweet.

[2016-08-08 23:34] elisechant opened #267 "Feature request - svg icon library and/or generator tool to create per project svg library"
1. This is probably a half Ui-kit thing, half Platform thing, but would really like a svg icon library - best case svg sprite sheet with CSS class file and ui-kit style guide resource for how to use - inc. markup, accessibility etc etc.
2. Would also really love a generator tool which build additional svg icon sprite sheets at a per project level.

I see that teams are all going to have this issue

[2016-08-08 23:40] #265 closed, assigned to nobody

[2016-08-09 02:33] jonathanconway opened #269 "Could we move the lists that are currently under Typography to the Lists section?"
This already threw me off. I was looking for numbered lists and never thought to look under Typography.

[2016-08-09 02:40] TrebBrennan commented on #269
Yeah that needs fixing. Thanks @jonathanconway.

[2016-08-09 02:40] simonschwartz opened #270 "Feature Request - telephone number list style"
GOV.AU has content that lists information about telephone number information. This information requires a unique style to ensure this it is clearly understood.

This information would use a modified version of the current horizontal list style `List item—with regular image`
### Additional information

<img width="993" alt="screen shot 2016-08-09 at 12 04 56 pm" src="https://cloud.githubusercontent

[2016-08-09 02:40] TrebBrennan commented on #253
#254

[2016-08-09 02:40] #253 closed, assigned to nobody

[2016-08-09 02:41] jonathanconway commented on #269
No worries, thanks.

[2016-08-09 04:43] tessereth opened #271 "Bug - insufficient colour contrast"
Running aXe accessibility tests gives the following error:

[code]

If you could fix the colours, that would be great.

[2016-08-09 04:52] TrebBrennan commented on #271
Thanks @tessereth
Looks like we need to adjust the font-size if we want to use that colour.
Currently: 20px (regular) in `.hero-med` and  17px (regular) in `.hero-sml`

Suggesting either
1. 24px in `.hero-med` and 19px Bold in `.hero-sml`
2. or change the colour to a more robust one. Eg. `#007ea8` is the closest I can get at AA

@AlzbetaT any input on this one?

---

<img width="744" alt="screen s

[2016-08-09 06:06] TrebBrennan commented on #271
Result upon consultation is to go for solution 1 above as it looks almost identical

[2016-08-10 23:58] joolswood commented on #260
Sure @TrebBrennan will have a chat with you presently.

[2016-08-11 06:43] streetdaddy opened #274 "Minor spelling mistakes on Examples listing"
Bug - Mispelling of `Ministers`

[code]

http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/examples/

[2016-08-11 10:14] #274 closed, assigned to nobody

[2016-08-12 05:42] hannah-ustwo commented on #135
[STATUS UPDATE] Marking this as a bug.

@simonschwartz or @petronbot Can you confirm if this will affect things for the Aug 30 private beta or if this has been solved already?

[2016-08-12 05:48] hannah-ustwo commented on #147
This feature has been merged (PR #208). Done!

[2016-08-12 05:48] #147 closed, assigned to nobody

[2016-08-12 05:48] simonschwartz commented on #135
@hannah-ustwo @petronbot I've added a temp fix for this on the platform so it isn't critical for the 30th but should be addressed in UI KIt at some point.

https://github.com/AusDTO/gov-au-beta/blob/develop/app/assets/stylesheets/_lists-ie-fix.scss

[2016-08-12 05:53] simonschwartz commented on #135
@hannah-ustwo this was affecting vertical list style of news items where an image was displaying below the news snippet. As far as I can see images are not being displayed with news snippets in the platform yet. May need @alzbetaT to confirm?

[2016-08-12 05:55] hannah-ustwo commented on #151
[STATUS UPDATE] Adding to our backlog as a bug - giving it lower priority to some other bugs that are more severe/break the thing.

[2016-08-12 06:27] simonschwartz commented on #135
Confirmed news articles currently don't have images associated with them in the platform and I cant seem to find it in the backlog. This means this bug doesn't need to be actioned for Aug 30

[2016-08-12 06:28] hannah-ustwo commented on #135
Thanks for confirming @simonschwartz!

[2016-08-12 06:32] hannah-ustwo commented on #164
[STATUS UPDATE] Going to be deprioritizing this, as it is not a feature needed for Aug 30th's private beta

[2016-08-15 03:28] maxious opened #278 "Bug - Disabled links look like working links"
## What I did

[code]
### What browser and device I was using

Chrome Version 52.0.2743.116 (64-bit), Macbook 13"
## What I expected to see

Something different? Like desaturation or strikethrough?
## What I saw

![](https://cloud.githubusercontent.com/assets/81432/17654980/1d68843c-62ec-11e6-87af-8942ca2e89d5.png)
### Additional information (optional)

Maybe DESIGN-327 would help?

[2016-08-15 05:15] klepas commented on #260
This has moved up in our backlog (out from the esky), so adding a `roadmap` label.

Tracked under `DESIGN-319`.

[2016-08-15 06:21] maxious commented on #271
We're probably removing this text anyway... https://github.com/AusDTO/gov-au-beta/issues/372

[2016-08-16 03:44] joolswood opened #282 "Bug - Location of 'Accessibility & browser testing' accordion"
## What I did

Visited most KSS pages and looked for component examples.
## What I expected to see

The component example before the 'Accessibility & browser testing' accordion (not the other way around).
### Additional information (optional)

I'm aware there's a limitation with the KSS thanks @klepas - just logging it here for when we have a chance to change this.

[2016-08-17 00:53] hannah-ustwo commented on #267
Thanks @elisechant, great call - we currently have an item "Icons" as an epic item for us, to figure out what the needs are, audit the current setup...does have a bit of homework to do and still comes after a few other epics we need to focus on atm (accessibility and browser testing, user research etc.). Should come up soon enough though; will keep all posted.

[2016-08-17 00:59] elisechant commented on #267
@hannah-ustwo great 👍

[2016-08-17 01:08] klepas commented on #267
+1 on a SVG sprite sheet or the like.

+1 on a generator tool, or some set of nice build tools per project.

Thanks @elisechant (:

[2016-08-17 01:11] hannah-ustwo commented on #259
Getting this up as a crossbrowser bug to consider on our roadmap

[2016-08-17 06:59] hannah-ustwo commented on #246
Any updates on this? Should we roadmap or close this? @klepas

[2016-08-17 09:56] maxious commented on #246
Roadmap a review and refactor of prerelease header including responsiveness?
We're definitely still using the logo as a homepage link.

[2016-08-18 02:56] ltankey opened #285 "Bug - Controls bar column width"
## What I did

![image](https://cloud.githubusercontent.com/assets/5369670/17760400/e46f4a90-6542-11e6-926a-47347feee761.png)

Editor bar column width is too narrow for the right-hand component, so a name or email of sufficient length creates a wrapping issue.
### What browser and device I was using

OSX, MBP 13'' retina
## What I expected to see

Editor's bar should always be a single row.

![ima

[2016-08-19 02:52] maxious opened #290 "Feature Request - placeholder links in side nav"
## What I did

[code]
## What I expected to see

Looks pretty good but also like to not have hover state? Guess need to not wrap placeholder link in a tag.

[2016-08-19 05:31] #151 closed, assigned to nobody

[2016-08-19 05:31] #278 closed, assigned to nobody

[2016-08-19 05:33] #271 closed, assigned to nobody

[2016-08-22 00:39] jonathanconway opened #293 "Full-width buttons on mobile?"
In the Identity team we've been asked to make all buttons span the full width of the screen on mobile devices. Presumably this is in order to give them a larger screen real estate so that they're more easily tappable.

Does anyone agree/disagree with this practice?

If you agree, should there be a common-use class in UI-Kit for this - e.g. `.button--full-width-mobile`? Or perhaps not even a class,

[2016-08-22 00:45] TrebBrennan commented on #293
There was also a need for this in the designs for [login on platform](https://github.com/AusDTO/gov-au-beta/blob/develop/app/assets/stylesheets/_sign-in.scss#L43).

Agree we should support this in some way in Ui-Kit.

[2016-08-22 01:17] klepas commented on #293
Happy to, but not with that kinda class name ^_^.

[2016-08-22 01:20] jonathanconway commented on #293
Whoa someone taking issue with my classnames!

[2016-08-22 06:15] klepas commented on #290
#291 should fix this soon.

[2016-08-22 08:58] klepas commented on #290
This should be fixed in 1.7.5.

[2016-08-23 23:14] #26 closed, assigned to nobody

[2016-08-23 23:16] #36 closed, assigned to nobody

[2016-08-24 00:47] tessereth opened #299 "Feature Request - List heading styles"
## What I did

We are currently using `<h3>`s for our news listing headings (which uses the `list-horizontal` class) to get a particular style but we don't have any `<h2>`s on the page so it's not semantically correct. To make it pass axe-core's best-practice accessibility tests, I need to change them to `<h2>`s but then they're too big. My current plan is to override it using the following scss b

[2016-08-24 01:13] tessereth opened #300 "Bug - disable outline on target of skip link"
## What I did

We currently have a "skip to main content" link at the top of our page but theoretically it requires the main content to be focusable by adding `tabindex="-1"` to the target of the skip link. Unfortunately this adds a focus boarder around the main content when you click on it. Previously we've solved this problem by removing the tabindex attribute and the skip link still seems to wo

[2016-08-24 01:24] simonschwartz opened #301 "Feature Request - Basic callout"
Hi UI Kit team. Just wanted to put this on your radar. There is currently a callout style in the 'Times and dates' section of gov.au which isn't in the UI Kit. https://gov-au-beta.apps.platform.digital.gov.au/times-and-dates/australian-daylight-saving/western-australia

![basic-callout](https://cloud.githubusercontent.com/assets/12635736/17915333/14976c4e-69ed-11e6-8505-945c532be6e2.png)

[2016-08-24 01:41] TrebBrennan commented on #300
Notes:
Confirmed with @tessereth what the `tabindex="-1"` on a div is intended to do, as most browsers should preform the skip-link as expected without having to apply direct focus to the div ([This bug](https://bugs.chromium.org/p/chromium/issues/detail?id=37721) appears to be fixed in Chrome now)  ....  It turns out this was added in response to an accessibility suggestion from [axe-core](https:

[2016-08-28 03:46] elisechant opened #307 "Bug - jQuery missing error on Style Guide"
## What I did

On this page of the Style Guide (staging) https://gov-au-ui-kit.apps.staging.digital.gov.au/section-link-styles.html#guide-link-styles-1-hover-links, there is an error in the console:
`ui-kit.js:144 Uncaught ReferenceError: $ is not defined`

![screen shot 2016-08-28 at 1 44 01 pm](https://cloud.githubusercontent.com/assets/2195815/18031470/aaff6ef8-6d25-11e6-8e20-93d2699b8fba.png)

[2016-08-28 05:10] elisechant opened #308 "Bug/question - logos should be images instead of free text"
Not sure if this is a bug or a feature.

Logos are free text instead of images. This means they can't be "downloaded" or referenced by external sites like Google! Image logos are sort of also needed by manifest and image type meta tags for SEO etc.

I would have thought they should be images (svgs) but not sure whether we decided to do them this way for a reason.

<img width="913" alt="screen shot

[2016-08-28 05:16] elisechant opened #309 "Bug - copy "gov-au-ui-kit" should be "GOV.AU UI-Kit" on home page"
## What I did

At https://gov-au-ui-kit.apps.staging.digital.gov.au/ the ui-kit is referenced as "GOV.AU UI-Kit" in most places but referenced as "gov-au-ui-kit" at the bottom of the page.

<img width="301" alt="screen shot 2016-08-28 at 3 12 27 pm" src="https://cloud.githubusercontent.com/assets/2195815/18031767/3fb6fb68-6d32-11e6-9137-7771b78d3436.png">

Expected to see "gov-au-ui-kit" as "GOV.A

[2016-08-28 22:39] ltankey opened #310 "Bug - multiline label text for checkboxes"
## What I did

Used checkboxes with multiline labels for a checkbox:

[code]
### What browser and device I was using

OSX MBP 13'' Retina
## What I expected to see

The checkbox should  align like this design diagram:

![screen shot 2016-08-29 at 8 38 06 am](https://cloud.githubusercontent.com/assets/5369670/18037302/f7cc5ac2-6dc3-11e6-9c2e-d9088f7d1a7d.png)
## What I saw

Alignment of the checkbo

[2016-08-28 22:49] TrebBrennan commented on #308
Thanks @elisechant for the feedback.
This is expected on our end at the moment, as no logos have been approved for production yet.

[2016-08-28 23:14] TrebBrennan commented on #310
Resolved in person.
`<p>` is not valid inside `label` only [Phrasing Content (text)](https://www.w3.org/TR/html5/dom.html#phrasing-content-1) is valid.

Solution was to move the `p` outside of `label` and custom style `label+p` with a matching indent.

[2016-08-28 23:14] #310 closed, assigned to nobody

[2016-08-28 23:24] TrebBrennan commented on #300
Tested skip-links and they do not behave as intended in all versions of IE (6-Edge: pages scrolls but focus does not change position).

We will likely ship an out-of-the-box JS solution to this bug in the future so users of the Kit don't need to think about it...

@tessereth For the time being your solution to continue using `tabindex="-1"` and a `outline: none;` is the best way to go. Thanks much

[2016-08-29 00:31] davecheney opened #312 "Bug - ui kit is not served with gzip"
## What I did

I used a service
### What browser and device I was using

chrome 52
## What I expected to see

ui-kit.js served with gzip enabled
## What I saw

![screen shot 2016-08-29 at 10 29 26](https://cloud.githubusercontent.com/assets/7171/18037985/9d21e24e-6dd3-11e6-9c35-5f518db91379.png)

no gzip, sad browser
### Additional information (optional)

This might need to be fixed at the httpred

[2016-08-29 00:34] maxious commented on #312
The cloudfoundry doco suggests if there were versions of each file with .gz suffix, nginx would automatically serve them http://docs.cloudfoundry.org/buildpacks/staticfile/index.html#gzip https://nginx.org/en/docs/http/ngx_http_gzip_static_module.html

You could also change the nginx config http://docs.cloudfoundry.org/buildpacks/staticfile/index.html#custom_nginx_configuration using https://githu

[2016-08-29 00:39] davecheney commented on #312
I think that I can probably fix this in the http frontend that serves this domain.

[2016-08-29 00:40] davecheney commented on #312
I don't think that is used, for various hand wavey technical reasons.

[2016-08-29 23:25] tessereth opened #313 "Bug - hero bar not in an aria landmark region"
Currently, our page has the following structure:

[code]

But the hero is not within an aria landmark region, causing one of the the axe-core best-practice accessibility tests to fail. I am confused how to fix this problem. The hero visually looks like it's part of the header but, at least for the medium hero, the `<h1>` is inside the hero implying that it needs to be part of main. Do you all have

[2016-08-29 23:30] TrebBrennan commented on #290
Needs a bit of work to make this better so that placeholder in the side-nav doesn't have hover but does have padding: Same layout as `.primary-nav ul a, .local-nav ul a`

[2016-08-29 23:50] TrebBrennan commented on #313
Awesome pickup @tessereth

There has been some mild talk about the accessibility and tab-order of the hero so this is quite timely.

My opinion (it's just that) is that `Hero` could be moved into `main` but we'll need to move the styling on main to something else if that's the case.

Added as a bug to our backlog.

[2016-08-30 00:22] maxious commented on #312
[code]

In @davecheney screenshot, he got 304 not 200 code which doesn't seem to report gzip-ness. I have reproduced that if you "Disable cache" gzip comes through and has a shorter content length:

![screen shot 2016-08-30 at 10 21 18 am](https://cloud.githubusercontent.com/assets/81432/18071747/8d54703e-6e9b-11e6-8bc6-57daba2bc785.png)

[2016-08-30 01:41] streetdaddy opened #316 "Bug - Currently active tab has no visible :focus or :hover style"
## What I did

keyboard tabbing through elements of the [Zoo page](http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/examples/zoo.html) when I got to the horizontal tab navigation example.

![gif showing missing :focus style](http://imgur.com/1OxFNK0.gif)
### What browser and device I was using

Testing IE11/Windows 8.1, but this affects all browsers
## What I expected to see

A visible ind

[2016-08-30 07:04] streetdaddy opened #321 "Script error in Windows 8.1 / IE 11 latest loading zoo page"
## What I did

Browser testing from manual test plan
### What browser and device I was using

Windows 8.1 / IE 11 latest via Browserstack

![bs_win8 1_ie_11 0](https://cloud.githubusercontent.com/assets/795921/18079409/da7b165a-6ed3-11e6-8475-10e4caabe428.jpg)

[2016-08-30 07:09] streetdaddy opened #322 "'Skip to section navigation' skips to main content"
## What I did

During browser testing, I followed the 'Skip to section navigation link'
### What browser and device I was using

Windows 8.1 / IE 11 via Browserstack
## What I expected to see

Scroll down with Section navigation visible and next in the tab order
## What I saw

Scrolled down past the Section navigation and the tab order was still up in the header.  Screenshot shows where the page s

[2016-08-30 07:16] streetdaddy opened #323 "No visible focus on Section menu when keyboard tabbing"
## What I did

Tabbing through page with the keyboard, with a mobile resolution so the Section navigation is collapsed with the 'Menu' link showing.
### What browser and device I was using

Reproduced in both Windows 8.1 / IE11 latest via Browserstack, and Chrome latest on OSX.
## What I expected to see

Some visual indication that I have the 'Menu' link focussed so I know to hit Enter or Space to

[2016-08-30 07:24] streetdaddy opened #324 "Keyboard navigation (tab) skips past the accordion on the zoo page"
## What I did

Tabbing through page content, the tab order skipped over the accordion on the zoo page, so I am not able to expand/collapse with the keyboard
### What browser and device I was using

Windows 8.1 / IE11 Latest
## What I expected to see

Keyboard focus would land on the 'Accordion' link and I could then toggle it with Enter/Space
## What I saw

Tab navigation skips past the accordion

[2016-08-31 01:22] TrebBrennan opened #327 "Bug - Tab navigation has no style on WindowsPhone."
On the zoo page the Tab navigation `.inline-tab-nav` has no style on a Windows Phone.
### What browser and device I was using

Windows Phone Lumia930 in Browserstack.
## What I expected to see

Same or similar design to Ui Kit.
## What I saw

No styles:
<img width="531" alt="screen shot 2016-08-31 at 10 47 47 am" src="https://cloud.githubusercontent.com/assets/15899197/18112712/117f825a-6f6d-11e6-

[2016-08-31 01:26] TrebBrennan opened #328 "Bug - Input type=Button has incorrect style in some browsers"
On the zoo page the example Button which uses `input[type='buton']` for markup has inncorect styling on a Windows Phone.
### What browser and device I was using

Windows Phone Lumia930 in Browserstack.
## What I expected to see

Same or similar design to Ui Kit.
## What I saw

<img width="534" alt="screen shot 2016-08-31 at 10 46 50 am" src="https://cloud.githubusercontent.com/assets/15899197/1811

[2016-08-31 01:37] TrebBrennan opened #329 "Bug - Landscape layout is too large on iPhone & Windows Phone"
Bug - Landscape layout is too large on iPhone & Windows Phone
## What I did

Using browser stack I tested the Zoo page on iPhone and Windows Phone and rotated the device.
### What browser and device I was using

Browserstack: Windows Phone Lumia930 - v8.1
Browserstack: iPhone5 - iOS6
## What I expected to see

A more sensible use of screen real estate.
More than a few elements on the screen at onc

[2016-08-31 03:43] TrebBrennan commented on #328
This is also the case in IE11:Win10, IE10:Win7

[2016-08-31 03:44] TrebBrennan commented on #327
This is also the case in IE11:Win10, IE10:Win7

<img width="876" alt="screen shot 2016-08-31 at 1 41 56 pm" src="https://cloud.githubusercontent.com/assets/15899197/18115250/3bcc89cc-6f81-11e6-98cb-5cae31530b64.png">

[2016-08-31 04:41] TrebBrennan opened #330 "Bug - Items inside of collapsed menu can receive keyboard focus"
Can "tab" into a closed nav with no indication of where I am.
## What I did

Using a smaller view port size I attempted to keyboard navigate [tab] past the collapsed local nav. Hidden elements inside the collapsed nav received focus and I had to tab past all of these without visual indication of my progress until I exited the nav.
### What browser and device I was using

Confirmed in, IE10:Win7 &

[2016-08-31 23:17] TrebBrennan opened #331 "Bug - layout for small-list is incorrect"
## What I saw

![screen-shot-2016-08-31-at-2 23 39-pm](https://cloud.githubusercontent.com/assets/15899197/18149538/1330dede-7024-11e6-9903-7026f99c6bdc.png)

This is likely from the work done on #298
### What browser and device I was using

Seen in Chrome:OSX, and multiple versions of IE in browserstack.
## What I expected to see

`<li>` elements to have the same border width as the `<ul>`

[2016-08-31 23:51] TrebBrennan opened #332 "Bug - .hero-item layout is incorrect IE10"
## What I saw

`.hero-item` layout extends outside of it's container element.

<img width="1380" alt="screen shot 2016-09-01 at 9 43 26 am" src="https://cloud.githubusercontent.com/assets/15899197/18150288/0e74671c-7029-11e6-9149-07e917937607.png">
### What browser and device I was using

Seen in IE10:Win8 Browserstack
## What I expected to see

Same layout as Chrome:OSX

<img width="982" alt="scr

[2016-09-01 05:20] simonschwartz opened #334 "Expand all/Collapse all"
## Description

When a group of accordions is used they should be accompanied by 'Expand all'/'Collapse all' buttons.

![accordions](https://cloud.githubusercontent.com/assets/12635736/17892106/fde1a9ac-6982-11e6-839f-8f738e2af0cf.gif)

The test may also elude to the desired functionality:
https://github.com/AusDTO/gov-au-beta/blob/develop/spec/features/accordion_group.rb#L22-L36
## An MVP approac

[2016-09-01 23:27] danielbaker commented on #307
Just ran into the same problem here

[2016-09-02 00:55] joolswood opened #335 "Bug - global-nav & links-group offset at width 1199+px"
## What I did

Expanded https://gov-au-ui-kit.apps.staging.digital.gov.au/examples/zoo.html to width larger than 1200 px.
### What browser and device I was using

Chrome, Safari & Firefox on OS X (latest versions).
Firefox:Windows 10
## What I saw

Background of components not extending to include the menu toggle (and menu toggle too far right) and far right col of links.

![screen shot 2016-09-02

[2016-09-02 01:17] joolswood opened #336 "Bug - missing list example images"
## What I did

Visited https://gov-au-ui-kit.apps.staging.digital.gov.au/examples/zoo.html
### What browser and device I was using

Chrome on Mac OX (latest versions).
## What I expected to see

Images in example lists.
## What I saw

![screen shot 2016-09-02 at 11 15 31 am](https://cloud.githubusercontent.com/assets/13774080/18189497/c9b6bef0-70fe-11e6-8fd5-fea40d66cf51.png)
![screen shot 2016-09

[2016-09-02 01:29] TrebBrennan commented on #327
Not a bug.. Issue with the test HTML page

[2016-09-02 01:29] #327 closed, assigned to nobody

[2016-09-02 01:37] ashnewport opened #337 "Inverted breadcrumbs and inline links block not visible on zoo page"
## What I did

Just perusing the zoo page and all elements available.
### What browser and device I was using

Chrome / Win 10
## What I expected to see

The inverted states of the breadcrumbs and inline links block.
## What I saw (or didn't see)

White text on a white background. Inline links block has the bottom border visible.

Hover and focus states are still looking baller.

![image](https://

[2016-09-02 02:13] joolswood commented on #335
Just noticed side nav also may (or may not) be too wide at above 1200 px. See screen grab:

![screen shot 2016-09-02 at 12 13 09 pm](https://cloud.githubusercontent.com/assets/13774080/18190493/a0fad71e-7106-11e6-83ef-b27f09840f04.png)

[2016-09-02 02:16] TrebBrennan commented on #335
Thanks @joolswood, local-nav should fit it's container, so this is expected behaviour as it shouldn't normally be in the body-copy space.

[2016-09-02 02:21] joolswood opened #338 "Bug - GOV.AU menu items have no hover or focus style"
## What I did

Tabbed to items in opened menu and hovered over items.

Related to #330 ?
### What browser and device I was using

Chrome, Firefox & Safari:OSX
Chrome, Firefox:Windows 10
## What I expected to see

Visual indication of hover and focus when interacting with the menu items.
## What I saw

![screen shot 2016-09-02 at 12 20 46 pm](https://cloud.githubusercontent.com/assets/13774080/1819

[2016-09-02 02:27] joolswood opened #339 "Bug - hamburger menu overlaps text at ~360px width"
## What I did

Resized screen to 360x640.
### What browser and device I was using

Chrome, Firefox and Safari on OS X (latest versions).
## What I expected to see

Hamburger button should move to next line.
## What I saw

![screen shot 2016-09-02 at 12 25 00 pm](https://cloud.githubusercontent.com/assets/13774080/18190781/88552a00-7108-11e6-8da6-13b3eea02f0e.png)

[2016-09-02 04:18] joolswood commented on #339
This is happening at 375 in Safari, also:

![screen shot 2016-09-02 at 1 47 45 pm](https://cloud.githubusercontent.com/assets/13774080/18192485/0d178f6c-7118-11e6-81c9-39e27b62c576.png)

[2016-09-02 04:23] joolswood opened #340 "Bug - partial underlining for external link that wraps"
## What I did

Resized screen to 375x667.
### What browser and device I was using

Safari on OS X (latest versions).
## What I expected to see

Underlining for whole link.
## What I saw

![screen shot 2016-09-02 at 1 46 57 pm](https://cloud.githubusercontent.com/assets/13774080/18192527/a717c398-7118-11e6-9827-0cc335e6aedc.png)

[2016-09-02 07:04] alphillips opened #341 "Feature Request - Nice input type=file"
## What I did

We want to use a file upload in our alpha project. Currently thinking about styling one up, so please let us know if you do it, or we will let you know how we go.
### What browser and device I was using

All? : )
## What I expected to see

I don't mind
## What I saw

N/A
### Additional information (optional)

[2016-09-02 07:08] klepas commented on #341
@hannah-ustwo I reckon we should get a feel how much need there is for this feature across other projects — chances are someone has already had a crack at this…? — and then consider prioritising it as needed.

[2016-09-05 10:46] elisechant opened #344 "Feature request - animation palette"
Animation (or transition animation) consistency is a real everyday issue for all Application builds.

Develop a palette of standardised animation sequences, transitions durations and so forth.  An MVP of something like: https://www.lightningdesignsystem.com/guidelines/motion/ would be awesome.  If not, even the suggestion of which specs from an existing third party library would be perfect as a st

[2016-09-05 23:41] elisechant opened #345 "Improvement - prefix variables with a namespace like "uikit""
It's difficult to include ui-kit in existing projects because of the collision of Sass variables which are global. To avoid collisions prefix ui-kit variables with some namespace.

ie.

[code]

might be

[code]

[2016-09-05 23:46] TrebBrennan commented on #345
Sensible idea, I like it.
I vote for `au` as the prefix; to remind us who we're making this for ;)

[2016-09-05 23:53] nathf commented on #345
FWIW from my last PR I had added `$gov-ui-kit-image-base-url` for this very reason.

https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/_variables.scss#L12

[2016-09-06 01:16] tessereth opened #348 "Bug - feedback button disappears on mobile"
Currently we include a feedback button in the header, using the following markup.

[code]

But when going down to mobile sizes, the button disappears. Originally the button would move into the global nav but if the global nav is now deprecated, we need a new solution.

[2016-09-06 02:54] elisechant opened #349 "Provide guidance how we could contribute React-flavoured components to ui-kit"
With a few teams now using or soon to be using React with ui-kit, fairly soon it would be ideal to fork or extend the ui-kit project to include a repository of these Components in a central location.

Theoretically speaking Components would most likely look like:
- ui-kit CSS
- React wrapped DOM, and (html)
- React behaviour (js)

Please provide guidance how best we can get something up and runnin

[2016-09-06 03:59] ltankey opened #350 "Bug - sidebar accordions are not wide enough to accommodate form objects"
## What I did

Nested checkboxes in an accordion which itself is in a side bar.
### What browser and device I was using

MBP 13'' retina
## What I expected to see

The positioning of the form elements should be aware of the overall size of the accordion due to existing in a sidebar.
## What I saw

![image](https://cloud.githubusercontent.com/assets/5369670/18261341/2754b63c-743a-11e6-86fc-29bc6eef

[2016-09-06 04:53] klepas commented on #350
@ltankey thanks. I don’t think we adequately tested the controls feature. Doh.

@hannah-ustwo Andrew recently linked to GOV.UK’s change of stance on accordions, esp. with regard to their use within forms. I asked the design team for comment/guidance.

See: https://userresearch.blog.gov.uk/2015/08/13/no-more-accordions-how-to-choose-a-form-structure/

I’m keen to hear back from the design research

[2016-09-06 05:25] TrebBrennan commented on #328
As seen in iOS9

<img width="481" alt="screen shot 2016-09-06 at 3 19 54 pm" src="https://cloud.githubusercontent.com/assets/15899197/18262562/218cdcd2-7446-11e6-9555-02fc028506b6.png">

[2016-09-06 05:33] TrebBrennan commented on #321
iOS9

<img width="1399" alt="screen shot 2016-09-06 at 1 43 35 pm" src="https://cloud.githubusercontent.com/assets/15899197/18262686/42587204-7447-11e6-80e9-ce2415af88d2.png">

[2016-09-06 05:36] TrebBrennan commented on #307
Duplicate bug: https://github.com/AusDTO/gov-au-ui-kit/issues/321

[2016-09-06 05:37] TrebBrennan commented on #321
Closing for duplicate bug https://github.com/AusDTO/gov-au-ui-kit/issues/307

[2016-09-06 05:37] #321 closed, assigned to nobody

[2016-09-06 05:41] TrebBrennan opened #351 "Bug - Global nav doesn't open completely (iOS9)"
### What browser and device I was using

iPhone4:iOS4-safari on Browserstack
## What I expected to see

Opening the global nav reveals all content.
## What I saw

Some content is cut off, or hidden:
<img width="497" alt="screen shot 2016-09-06 at 3 13 10 pm" src="https://cloud.githubusercontent.com/assets/15899197/18262812/51dbbc62-7448-11e6-8476-aabb492b54ba.png">

[2016-09-06 05:52] TrebBrennan opened #352 "Bug - accordions arrow can overlap with text"
### What browser and device I was using

iPhone4:iOS4-safari on Browserstack
## What I expected to see

Arrow with space around it.
## What I saw

arrow can overlap with text
<img width="463" alt="screen shot 2016-09-06 at 1 46 56 pm" src="https://cloud.githubusercontent.com/assets/15899197/18262991/cdffa21c-7449-11e6-9115-70da09ff1c77.png">

[2016-09-06 06:40] gazhands commented on #350
GOV.UK are referring to not using accordions in a form flow (eg. applying for a driving license) and hiding parts of the form.

What we have above (sidebar accordions) is a 'custom widget' to select things... which is better than a very long dropdown, see here
https://youtu.be/CUkMCQR4TpY?t=1284

They'll be even more versions of these once we start looking at the transitions work for GOV.AU (eg. t

[2016-09-06 07:12] joolswood opened #353 "Bug - no global menu toggle at large sizes"
## What I did

Browsed https://gov-au-ui-kit.apps.staging.digital.gov.au/examples/zoo.html
### What browser and device I was using

Latest version of Chrome & Firefox on Windows 10 (via BrowserStack) & Chrome:Android 4 (Galaxy Note 10.1)
## What I expected to see

Menu toggle at all sizes.
## What I saw

![screen shot 2016-09-06 at 4 03 01 pm](https://cloud.githubusercontent.com/assets/13774080/18

[2016-09-07 02:12] klepas commented on #345
Added to Jira under `DESIGN-443`.

[2016-09-07 02:54] elisechant opened #354 "Fix - Not make "asset-data-url" a dependency of your build pipeline"
## What I did

Trying to retrofit links.scss in to our app. Having to polyfill "asset-data-url" which is function set from your Gulpfile instead of from the library.

Deprecate this and include the asset-data-url as a Sass variable instead.

Note: we're on 1.7.4

[2016-09-07 03:01] maxious commented on #354
asset-data-url is also what rails uses hence the sneaky choice of function. Could it be detected if it I'd provided and only use variable if undefined?

[2016-09-07 03:06] elisechant commented on #354
Still it will only work for apps with that Gulpfile. We'll need to polyfill it.

[2016-09-07 03:15] nathf commented on #354
This is resolved in the next release per npm fixes PR
https://github.com/AusDTO/gov-au-ui-kit/pull/333/files

[2016-09-07 03:15] #354 closed, assigned to nobody

[2016-09-07 04:30] elisechant opened #355 "Provide an alternate contrast icon for external links"
We want to have white external links links on a dark footer on Dashboards.  Can we please have a white external link icon.

![screen shot 2016-09-07 at 1 41 03 pm](https://cloud.githubusercontent.com/assets/2195815/18299840/89d0e6dc-7507-11e6-803c-742e8af9b8ae.png)

[2016-09-07 06:13] #312 closed, assigned to nobody

[2016-09-08 02:27] benzeller commented on #341
Hey @alphillips we will be looking to do something in the coming weeks for our alpha (status resolution). I've done something similar to this in a past project: http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/

[2016-09-08 02:29] joolswood opened #356 "Bug - scrolling on touch device console error"
## What I did

Scrolled through https://gov-au-ui-kit.apps.staging.digital.gov.au/examples/zoo.html
### What browser and device I was using

Nexus 6 phone, Android 6.
## What I saw

![screen shot 2016-09-08 at 9 26 39 am](https://cloud.githubusercontent.com/assets/13774080/18335091/e4b81486-75bf-11e6-805c-36454b9b1a67.png)
### Additional information (optional)

Error number increased as I continue

[2016-09-08 02:56] klepas commented on #356
Tracked under DESIGN-435.

[2016-09-08 03:00] klepas commented on #355
Tracked under `DESIGN-436`.

[2016-09-08 03:04] klepas commented on #353
Tracked under `DESIGN-437`.

[2016-09-08 03:05] klepas commented on #352
Tracked in `DESIGN-429`.

[2016-09-08 03:08] klepas commented on #350
Tracked in `DESIGN-438`.

[2016-09-08 03:12] joolswood commented on #335
Found similar offset bugs on Android 4.0 on GalaxyNote 10.1:

![screen shot 2016-09-08 at 12 58 00 pm](https://cloud.githubusercontent.com/assets/13774080/18335856/e3628f8e-75c5-11e6-8fb8-72b859f14b8e.png)

![screen shot 2016-09-08 at 12 58 18 pm](https://cloud.githubusercontent.com/assets/13774080/18335858/e55d6782-75c5-11e6-9ff0-677d579735b2.png)

[2016-09-08 03:13] klepas commented on #348
Tracked under `DESIGN-439`.

[2016-09-08 03:16] klepas commented on #349
I have a feeling that this is gonna become an epic for us, when we approach this.

Tracked in under `DESIGN-440`.

[2016-09-09 01:23] klepas commented on #341
Tracked under `DESIGN-442`.

[2016-09-09 01:25] klepas commented on #340
This should be fixed in `1.8.0` today, thanks to @alecky. (:

[2016-09-09 01:47] klepas commented on #340
Fixed by release `1.8.0`: https://github.com/AusDTO/gov-au-ui-kit/releases/tag/1.8.0

[2016-09-09 01:47] #340 closed, assigned to nobody

[2016-09-09 01:49] klepas commented on #339
Tracked under `DESIGN-437`.

[2016-09-09 01:51] klepas commented on #338
Tracked under `DESIGN-443`.

[2016-09-09 01:53] klepas commented on #337
Tracked under `DESIGN-444`.

[2016-09-09 01:54] klepas commented on #351
Tracked under `DESIGN-428`.

[2016-09-09 01:59] klepas commented on #334
Tracked under `DESIGN-205`.

[2016-09-09 02:02] klepas commented on #335
@TrebBrennan @joolswood I’m not sure what to do with this one — we have a range of items that came out of testing of the zoo page that have made their way into GH issues, and I’ve been syndicating those over into our Jira bl.

I’m a bit lost on this one, as it appears we have a number of container-related items here, but as you pointed out @TrebBrennan some aren’t exactly bugs. Thoughts?

[I haven

[2016-09-09 02:06] klepas commented on #331
Tracked under `DESIGN-414`.

[2016-09-09 02:07] klepas commented on #332
Tracked under `DESIGN-415`.

[2016-09-09 02:08] joolswood commented on #339
Similar issue with accordions (Firefox on Windows 10):

![screen shot 2016-09-09 at 12 07 28 pm](https://cloud.githubusercontent.com/assets/13774080/18373271/10c8ece6-7686-11e6-9d37-0b91d46fe006.png)

[2016-09-09 02:09] klepas commented on #330
Tracked under `DESIGN-411`.

[2016-09-09 02:10] klepas commented on #329
Tracked under `DESIGN-408`.

[2016-09-09 02:11] joolswood commented on #352
Related to #339

[2016-09-09 02:12] klepas commented on #328
Tracked under `DESIGN-422`.

[2016-09-09 02:19] joolswood opened #357 "CSS error - `-webkit-details-marker`"
## What I did

Browsed zoo page.
### What browser and device I was using

Latest Safari on Windows 10.
## What I saw

![screen shot](https://cloud.githubusercontent.com/assets/13774080/18373457/890b3690-7687-11e6-96b2-26ae9dccef7a.png)
### Additional information (optional)

Is this related to #307 ?

[2016-09-09 02:20] klepas commented on #324
Confirming this bug — just tested this in IE11, 10, and 9: borked in all. :/

[2016-09-09 02:22] simonschwartz opened #358 "Guidance - multiple authors for list item with metadata"
On GOV.AU some news articles may have multiple authors.

I am seeking guidance on the correct markup. It would be great if we could also extend the `.list-horizontal` style to multiple authors to be displayed.

![screenshot 3](https://cloud.githubusercontent.com/assets/12635736/18373504/01a89bb0-7688-11e6-9668-8fa51a4934a6.jpeg)

[2016-09-09 02:25] simonschwartz commented on #358
Is the best approach to mark this up as a `<ul>`? When there is only 1 author should it revert back to the current approach of only using a single `<a>`?

[2016-09-09 02:35] joolswood commented on #307
Also on:
- Safari on OS X.
- Chrome for Android 6 (Nexus 6)
- Firefox on OS X and Windows 10

[2016-09-09 02:40] joolswood commented on #322
Also occurs on Chrome for Windows 10

[2016-09-09 02:42] joolswood commented on #324
Also present in Firefox on Windows 10

[2016-09-09 02:51] joolswood commented on #328
Also Firefox:Windows 10.
![screen shot 2016-09-09 at 12 50 47 pm](https://cloud.githubusercontent.com/assets/13774080/18373963/0dfb3f40-768c-11e6-9082-b290f1bb679a.png)

[2016-09-09 03:13] joolswood opened #359 "Slow loading on Android 4.0"
## What I did

Opened zoo URL on emulated Android 4 devices, using Chrome, via BrowserStack.
## What I saw

Slow loading - upwards of 10 seconds and more.
### Additional information (optional)

This might be a BrowserStack/emulation issue. We might need a physical device to verify.

[2016-09-09 03:33] TrebBrennan opened #360 "Bug - accordions arrows do not match open state iOS"
### What browser and device I was using

iPhone 5S: iOS7-safari on Browserstack
iPhone 6: iOS8-safari on Browserstack
iPhone 6S: iOS9-safari on Browserstack
## What I expected to see

Same as desktop chrome, arrow should point up when accordion is open.
## What I saw

Arrow does not change based on open state, is always pointing down.
<img width="448" alt="screen shot 2016-09-09 at 11 14 50 am" sr

[2016-09-09 03:41] TrebBrennan commented on #360
Tracked in DESIGN-447

[2016-09-09 05:15] TrebBrennan opened #361 "Bug - Touch device can't check checkboxes inside accordions"
## What I did

Attempted to check the checkboxes which are inside the accordions on the `/examples/zoo.html` page.
### What browser and device I was using

iPhone 5S: iOS7-safari on Browserstack
iPhone 6: iOS8-safari on Browserstack
iPhone 6S: iOS9-safari on Browserstack
## What I expected to see

Check boxes checking 👍
As per default function on `/section-forms.html` page
## What I saw

Check box

[2016-09-09 05:17] TrebBrennan commented on #361
Tracked in DESIGN-448

[2016-09-09 05:32] TrebBrennan opened #362 "Bug - Incorrect layout and side scrolling on iOS4"
### What browser and device I was using

iPhone 4: iOS4-safari on Browserstack
## What I expected to see

Responsive mobile optimised layout as per layout in newer versions of iOS
## What I saw

Some elements are larger than the view-port size causing side scrolling and offset elements.
<img width="587" alt="screen shot 2016-09-06 at 11 00 20 am" src="https://cloud.githubusercontent.com/assets/158

[2016-09-09 05:33] TrebBrennan commented on #362
Tracked in DESIGN-450

[2016-09-09 05:38] tessereth commented on #299
Thanks for the fix!

[2016-09-09 05:38] #299 closed, assigned to nobody

[2016-09-09 05:46] TrebBrennan opened #363 "Bug - Button padding incorrect on iOS4"
### What browser and device I was using

iPhone 4: iOS4-safari on Browserstack
## What I expected to see

Even spacing on buttons as per newer browsers
## What I saw

Uneven padding
<img width="587" alt="screen shot 2016-09-06 at 11 00 20 am" src="https://cloud.githubusercontent.com/assets/15899197/18376666/6b1ec22e-76a4-11e6-8a3d-c633f64dc1a7.png">
<img width="513" alt="screen shot 2016-09-06 at

[2016-09-09 05:47] TrebBrennan commented on #363
Tracked in DESIGN-451

[2016-09-09 05:59] TrebBrennan opened #364 "Bug - text inputs have iOS-webkit styling iOSx"
### What browser and device I was using

iPhone 4: iOS4-safari on Browserstack
iPhone 6p: iOS9-safari on Browserstack
## What I expected to see

No inset box shadow
## What I saw

<img width="464" alt="screen shot 2016-09-09 at 3 56 17 pm" src="https://cloud.githubusercontent.com/assets/15899197/18376902/6978a3b6-76a6-11e6-81d4-420bd1251881.png">

<img width="543" alt="screen shot 2016-09-06 at 11

[2016-09-09 06:00] TrebBrennan commented on #364
Tracked in DESIGN-452

[2016-09-09 06:11] TrebBrennan opened #365 "Bug - Global nav is not correctly responsive iOS4"
### What browser and device I was using

iPhone 4: iOS4-safari on Browserstack
## What I expected to see

Tidy layout responsive layout
<img width="302" alt="screen shot 2016-09-09 at 4 08 59 pm" src="https://cloud.githubusercontent.com/assets/15899197/18377061/c6091d9e-76a7-11e6-982b-5ee26c5e488f.png">
## What I saw

Menu button is positioned outside the widget
<img width="530" alt="screen shot 2

[2016-09-09 06:14] TrebBrennan commented on #365
Tracked in DESIGN-453

[2016-09-12 00:05] klepas commented on #322
I can’t replicate the bug on any of the combinations either of your listed @joolswood / @streetdaddy … :S

[2016-09-12 00:06] klepas commented on #323
Fixed in `1.8.0`.

[2016-09-12 00:06] #323 closed, assigned to nobody

[2016-09-12 00:13] klepas commented on #357
Tracked in `DESIGN-455`.

[2016-09-12 00:14] TrebBrennan commented on #322
@klepas I just tried it in IE11 on browser-stack and it's definitely an issue, it sounds like the exact same bug as `DESIGN-394` which is related to the findings on #300.

In basic. IE scrolls down, but focus is not moved. So the next time you push tab you a returned your previous position.

[2016-09-12 00:17] klepas commented on #358
We should be using an anchor with `rel="author"`, inside an `address`, inside the `article`’s `header`. Not necessary to put them into a list… I would consider it if it were to always be a rather long list (≥3 items I’d probably move to a list)

The spec’s example:

[code]

Spec: https://w3c.github.io/html/sections.html#the-address-element

[2016-09-12 00:19] klepas commented on #358
Further markup egs, inside a `header`:

[code]

[2016-09-12 00:24] klepas commented on #358
Tracked in `DESIGN-456`.

[2016-09-12 01:01] klepas commented on #359
Confirming this seems pretty slow and deserves more testing to see what the haps are here.

Tracked under `DESIGN-457`.

[2016-09-12 01:13] klepas commented on #324
Tracked under `DESIGN-446`.

[2016-09-12 01:14] klepas commented on #316
Tracked under `DESIGN-405`.

[2016-09-12 01:14] klepas commented on #313
Tracked under `DESIGN-404`.

[2016-09-12 01:29] klepas commented on #308
Do boring things need logos? ^_^

#controversial

(There’s no Jira tix for this yet btw, and haven’t made one yet… thoughts?)

[2016-09-12 01:30] klepas commented on #307
Tracked under `DESIGN-391`.

[2016-09-12 01:30] #309 closed, assigned to nobody

[2016-09-12 01:33] klepas commented on #322
Thanks @TrebBrennan. I’ve linked to this also under `DESIGN-394`.

[2016-09-12 01:34] klepas commented on #300
Tracked under `DESIGN-394`.

[2016-09-12 01:37] klepas commented on #301
@simonschwartz @alzbetaT Could I request an update on this feature? — if it’s stable and tested, I’d be happy to include it and update our docs/guidance (though it might be worth addressing as part of a slightly larger overhaul of our various `.callout` and `.callout--*` styles).

[2016-09-12 01:38] klepas commented on #301
Removing _roadmap_ label as I couldn’t find a ref to this in Jira.

[2016-09-12 01:38] klepas commented on #293
Tracked under `DESIGN-403`.

[2016-09-12 01:39] klepas commented on #290
This is done! :)

[2016-09-12 01:39] #290 closed, assigned to nobody

[2016-09-12 01:41] klepas commented on #285
Tracked under `DESIGN-458`.

[2016-09-12 01:42] klepas commented on #270
The PR was bounced back until the feature is tested further by Agency/Topics.

[2016-09-12 01:44] klepas commented on #269
Should be done as part of `DESIGN-413`.

[2016-09-12 01:44] klepas commented on #267
This is tracked under an Iconography epic.

[2016-09-12 01:45] klepas commented on #266
Possibly tracked under `DESIGN-277`.

[2016-09-12 01:50] klepas commented on #256
Coming back to this now — this is a general tech debt issue. We have a tech debt epic, but since this issue refers to the codebase generally I’m hesitant at the moment to create a story and commit to going through the entire thing to flatten out selectors.

That said, I think we’re contemplating a partial rewrite at some point where we’d address this debt issue.

I’m gonna leave it on GH just for

[2016-09-12 01:54] klepas commented on #258
Fixed by #305.

[2016-09-12 01:54] #258 closed, assigned to nobody

[2016-09-12 01:55] klepas commented on #259
Tracked under `DESIGN-351`.

[2016-09-12 02:00] klepas commented on #252
Fixed by #305.

[2016-09-12 02:00] #252 closed, assigned to nobody

[2016-09-12 02:30] klepas commented on #251
@TrebBrennan @AlzbetaT I think these changes were implemented in the recent design polish PR that went through the other week, right? :)

[2016-09-12 02:35] klepas commented on #250
This relates to form validation, and form patterns (mandatory fields, etc.).

Tracked (at least in part) under `DESIGN-277`.

Not sure when we will get to this given our current backlog and priorities — @channyvw can you let us know if you proceeded on this; we might be able to use/build on your solution. (:

[2016-09-12 02:36] klepas commented on #247
Marking this as general tech debt (the gov-au prerelease header); I’m going to close this since it will be covered when we address that header.

[2016-09-12 02:36] #247 closed, assigned to nobody

[2016-09-12 02:52] klepas commented on #218
Tracked under `DESIGN-218`.

[2016-09-12 02:54] klepas commented on #246
Tracked in `DESIGN-292`, which covers the whole prerelease header; closing this tix.

[2016-09-12 02:54] #246 closed, assigned to nobody

[2016-09-12 02:55] klepas commented on #212
@TrebBrennan do you remember if this precise issue got fixed? I presume given that it hasn’t appeared on prod builds, or in pa11y tests that we’re good?

[2016-09-12 02:55] klepas commented on #201
Tracked under `DESIGN-182`.

Worth noting too that we have:
- designs from @alzbetaT
- Digi. Marketplace has implemented their own variants (fully responsive)

If we can unify them some of the work might already be done for us.

[2016-09-12 03:00] klepas commented on #174
We have some docs now in https://github.com/AusDTO/gov-au-ui-kit/tree/develop/docs, and we’re considering a packaged solution for distributing source — see `DESIGN-204`.

We also have a plan to document mixins and other features that users wishing to include the source may want to be aware of.

I’m gonna close this in the meantime.

[2016-09-12 03:00] #174 closed, assigned to nobody

[2016-09-12 03:06] TrebBrennan commented on #212
@klepas It's the type of thing that won't come up in automated testing. It's tracked in `DESIGN-261`

[2016-09-12 03:17] TrebBrennan opened #368 "Bug - Checkboxes in overflow causes scroll"
Checking a styled checkbox that is inside an `overflow:auto/scroll` causes the main viewport (not the overflow element) to scroll unexpectedly.
### What browser and device I was using

Chrome
## What I expected to see

Checkbox checks without any scrolling.
## What I saw

Checkbox is checked and viewport scrolls to position of hidden real checkbox.
### Additional information (optional)

Assuming t

[2016-09-12 03:18] TrebBrennan commented on #368
Tracked in `DESIGN-460`

[2016-09-12 03:26] klepas commented on #164
Update: guidance from Donna is that these ToC/Index links/Contents links feature should only list one tier of items on the page, but there will be instances where we need to provide a full ToC.

I’ve close this as a bug, and I’ve created a new Jira tix/story for a more elaborate ToC (`DESIGN-459`).

[2016-09-12 03:26] klepas commented on #164
Actually, re-opening and marking as not a bug. Soz.

[2016-09-12 04:25] klepas commented on #145
@simonschwartz Heya, just following up on this feature in our issue list — it looks like a fairly simple feature, with a fairly simple solution. Is this currently in Platforms in their CSS?

[2016-09-12 05:53] channyvw commented on #250
@klepas I didn't get anywhere on it as it was a rush to get our Beta out the door unfortunately. No one has mentioned it as a bug in our project and we only have one instance where it is required. My current solution which is an extension of the UK error handling was to list it as an invalid field in a callout box above the form region. Since you've got it tracked in DESIGN-277 I think this issue

[2016-09-12 07:26] klepas commented on #250
@channyvw thanks! (: I’m gonna close this.

[2016-09-12 07:26] #250 closed, assigned to nobody

[2016-09-12 07:33] klepas commented on #135
@petronbot @TrebBrennan @simonschwartz Just looking at this issue again. We’ve started migrating our list styles over from flexboxes to use Neat’s `span-column()` function (`%base-list` is done; `%base-vertical-list` is done; `.list-horizontal` is still to be fully moved over).

Does anyone have any updates on this now that we’re past the end of Aug? Do we need to track this in Jira?

[2016-09-12 07:35] klepas commented on #126
Tracked under `DESIGN-330`.

[2016-09-12 07:35] klepas commented on #104
Poke @ltankey hey — how urgent is this for Sites at the moment? :)

[2016-09-12 07:37] klepas commented on #30
Tracked under `DESIGN-47`.

[2016-09-12 08:33] ltankey commented on #104
Lower priority at the moment :)

[2016-09-13 01:31] ashnewport commented on #351
I think the issue you are seeing @TrebBrennan is caused by the padding being in the wrong spot. From [responsive-nav](https://www.npmjs.com/package/responsive-nav):

I just added into our alpha locally `.global-nav ul { padding-bottom: 0.8em }` and that seems to have worked. I got the padding value from the existing style declaration `.global-nav { padding: 0.4em 0 0.8em; }`

[2016-09-13 02:56] klepas commented on #104
Tracked in `DESIGN-461`.

[2016-09-14 06:39] #365 closed, assigned to nobody

[2016-09-15 05:11] AlzbetaT opened #375 "Increase grid gutter width"
**Bug - Gutter width too narrow**

Increase gutter width to 32px to increase separation between content area and side nav.

Currently the gutter width is 23px and the content is too close to the side nav.

[2016-09-15 22:30] joolswood commented on #348
Linked to #372

[2016-09-15 23:44] elisechant opened #376 "Class location for form input error handling"
Are we able to move the location of the invalid class from the input to the container div for form fields so I can style the field as well as the input if invalid?

Currently:

[code]

Can it be:

[code]

This will give us the most flexibility for styling input behaviour.

Also side note, can you say why the wrapping component is a `p` rather than a `div`?

[2016-09-16 03:42] elisechant opened #378 "Feature request - form select element"
Please provide a Select element for forms.

[2016-09-20 01:10] joolswood opened #380 "Feature request - code styling"
## What I did

Browsed guide pages.
### What browser and device I was using

Chome, OSX.
## What I expected to see

Clear styling (eg pink/red text on grey background) for code text and snippets.
## What I saw

Use of a different font  --- but this is not as clear as pink on grey.
### Additional information (optional)

See style used here: https://pages.18f.gov/content-guide/technical-and-interfac

[2016-09-20 01:18] elisechant opened #381 "Form input type[url] type[date] doesn't receive styles"
![screen shot 2016-09-20 at 11 17 28 am](https://cloud.githubusercontent.com/assets/2195815/18654377/f4c3aa80-7f23-11e6-9379-c6f17670e08a.png)

[2016-09-20 01:27] joolswood opened #382 "Bug - form labels overlapping input"
## What I did

Browsed http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/section-forms.html
### What browser and device I was using

Chrome, OSX.
## What I expected to see

Same form rendering as on http://gov-au-ui-kit-staging.apps.staging.digital.gov.au/examples/zoo.html
## What I saw

Radio and checkbox labels overlapping their input.

![screen shot 2016-09-20 at 11 21 46 am](https://clo

[2016-09-20 23:55] klepas commented on #380
We get syntax styling out of the box essentially with Jekyll. Happy to also improve code styling in general/when it doesn’t receive a particular syntax highlighting style.

[2016-09-20 23:56] klepas commented on #380
Tracked under `DESIGN-485`.

[2016-09-21 00:13] klepas commented on #382
@petronbot @joolswood This bug is on `develop` only; it’s been introduced this sprint. We should fix this before doing a release!

[2016-09-21 00:44] elisechant opened #384 "Grid layout should lock to an absolute min width"
I expect that the layout will lock at an absolute minimum width to avoid tiny screen layout breakages:

![screen shot 2016-09-21 at 10 43 10 am](https://cloud.githubusercontent.com/assets/2195815/18693840/4be113a6-7fe8-11e6-961b-d6f45e4668d4.png)

[2016-09-21 00:51] elisechant opened #385 "bug - very small screens are not supported by grid breakpoints"
## What I did

Because of the handling of the smallest breakpoint (gov-au-ui-kit/assets/sass/utils/_grid-settings.scss:61):
`$mobile: new-breakpoint(min-width $mobile-minwidth, $mobile-grid-columns);`

there is no small screen handling for screens narrower than
`$mobile-minwidth`.
## What I expected to see

`$mobile: new-breakpoint(max-width $mobile-minwidth, $mobile-grid-columns);`

[2016-09-21 00:53] elisechant opened #386 "feature request - optionally include grid classes"
Given documentation:

But it would be really great to have a grid just work out of the box or perhaps point to an example code sample.

[2016-09-21 04:01] elisechant opened #387 "Feature request - semantic typography classes for headings like .h1, .h2"
## What I did

Sometimes you need to style heading tags to look like other heading tags but maintain their semantics. A common pattern is to provide .h1, .h2, .h3 etc in addition to raw element styling so I able to style an element like this:

`<h2 className="h4">Widgets</h2>`
## What I expected to see

Refs in gov-au-ui-kit/assets/sass/components/_typography.scss to include heading classes as wel

[2016-09-21 04:05] klepas commented on #387
I’m… not a fan of inserting classes like these.

Instead, I’d be really keen to hear about why the ordering is borked stylistically that led to this, or have a team write additional sass to meet their custom needs.

The main reasons why I want to avoid classes like these:
1. it’s presentational markup which in this instance can actually be semantically confusing
2. once you make available these cl

[2016-09-21 04:14] elisechant commented on #387
I hear what you're saying and it's ultimately up to you guys. I think there is a bigger discussion to be had here about styling with declarative html classes.  Personally I think it's impractical to assume that stylistically semantics will always render desirably.

Often my framework opinions are based on bigger framework implementation detail. In this instance this is a convention in Bootstrap: h

[2016-09-21 23:40] elisechant opened #389 "Is there a design guideline for "optional" form field?"
## What I did

Creating optional form elements. Following the documentation that says:

Should I render "optional" like:

`<label>Name (optional)</label>`

or is there a recommended design pattern to do this?

What comes to mind is:

`<label>Name <sup>(optional)</sup></label>`

[2016-09-22 00:32] elisechant opened #390 "Incorporate humanised date helpers"
## What I did

Following these guidelines for dates:
- http://content-style-guide.apps.staging.digital.gov.au/az-indexes/d.html#dates-and-time-periods
- http://content-style-guide.apps.staging.digital.gov.au/az-indexes/t.html#time
## What I expected to see

Ui-kit helpers or constant to format dates to these humanised strings.

such as:

`const ISO_LONG_DATE = 'dddd D MMMM, YYYY';`

[2016-09-27 03:17] klepas commented on #387
I’m getting to the point where I’m feeling that I’ve made an assumption here that purely semantic SASS was gonna work out for both prototyping and prod needs.

From an optim and from a prod QA perspective I really want to avoid having these kinds of things served in a prod env… but I think that my expectation for the kit to work without these kinds of classes for prototyping is kinda flawed.

If w

[2016-09-29 00:21] jonathanconway opened #391 "Button contrast and visual marker changes"
At the moment colour is the only way of visually distinguishing a focussed button from a non-focussed button.

From tracing back the variables, it seems like there is at most a 10% colour difference (in terms of lightness) between regular button state and hover button state.

See below:

![image](https://cloud.githubusercontent.com/assets/310330/19063247/b9d0dfe0-8a4c-11e6-84b5-8aaddcb7356a.png)

[2016-10-04 05:21] klepas commented on #391
Just echoing what I noted in slack—

imho:
- colour alone is insufficient
- visual markers (addition/subtraction of something, or a bevel/depressed effect — eg for when it’s actively clicked) are good
- this applies for `:hover`, `:focus`, and `:active`… and balancing all three can be hard. :)

[2016-10-04 05:36] jonathanconway opened #394 "Error message patterns"
When the user enters an incorrect/invalid value, we should notify them of this textually.

Speaking for Identity-IDP, we currently show [errors on top and inline errors](http://webaim.org/techniques/formvalidation/#error). The errors on top link the user to the field in question, making it easy to [jump to the error](https://www.w3.org/TR/WCAG20-TECHS/G139.html) and fix it (with keyboard-only if n

[2016-10-04 05:40] jonathanconway commented on #391
Hmm... I can imagine an :active state being useful for, say, a toggle-button.

[2016-10-04 05:41] klepas commented on #394
@jonathanconway: It’d be good to cue in @ashnewport and @nathf on this.

I would love to absorb this from a team and provide this as a uikit pattern! (:

[2016-10-04 21:36] elisechant commented on #394
@jonathanconway we had the same issue in Dashboards. We implemented a hybrid ui-kit bootstrap pattern. Maybe we can catch up about this today?

[2016-10-04 22:19] jonathanconway commented on #394
Sure thing, @elisechant! I'll try to grab you for a quick chat today, if not, maybe at the next #frontend guild?

[2016-10-04 23:24] gazhands opened #395 "Draft blog about UI-Kit / design guide"
I've chucked up a short and sweet draft https://docs.google.com/document/d/1lEq0Rsif2BjB9YArfj2Vxqmfmw_qXeMhPEQV-Hm6OGk/edit
Do you want to jump in Gary Broadbent and add some dot points about what else we should mention?

[2016-10-04 23:25] gazhands opened #396 "Recreate the Design Guide in Jekyll"
As a proof of concept I've (re)created the Design Guide in Jekyll. The new site is close to production-ready.

_Done_
- Default template features a header, footer and sidebar nav
- Styleguide sections are populated with data and templates from UI Kit
- Extra pages of content are added by creating *.md files in the repo root
- Images for the style guide live inside assets/img
- UI Kit images are lo

[2016-10-04 23:25] hannah-ustwo opened #397 "Add AccessLint CI to CircleCI config"
Having our accessibility tests run during our build means that we'll get automatically and fast visibility on issues as they arise. AccessLint will alert us in GitHub PR comments when we have errors, instead of causing the build to fail.

_To do:_
- Update CircleCI config to run AccessLint during build

https://robots.thoughtbot.com/introducing-accesslint-web-accessibility-testing-in-ci

[2016-10-04 23:27] gazhands opened #398 "Workshop: Workflow for request intake"
Goal: Determine a new workflow that streamlines and clarifies how the UI kit or Guides take requests - for us internally and for clarity externally

[2016-10-04 23:30] hannah-ustwo opened #399 "Review existing related research from other DTO teams"
Find and review any existing research around users needs related to Guides.

Teams/people to talk to:
- DSS
- Rod M
- Jacqui
- Jordan

Ask about:
- Workflow
- User needs
- Painpoints in the creation of digital transformations and products at DTO

(Looking to gain insights on how people work on a daily basis. What workflows they go through, who are they interacting with, what are their needs, pains

[2016-10-04 23:31] gazhands opened #400 "Interviews with the Guides' users about the existing workflow/clarity/contribution."
- Definition of Done
- Create discussion guide that aims to get insights on the existing pain points in contributing to the guide
- Conduct interviews
- Document insights

People we may want to interview:

DEVS
Elise, Nathan, Jonathan Conway, Catherine Jones, Alistair, Rowan, Simon

DESIGNERS
Alzbeta, Phil, Jeremy, Leisa

CONTENT
Michael Hugill, Michelle, ~~Trisha~~ Zoe

[2016-10-04 23:31] klepas commented on #322
Closing since this is a duplicate of #300.

[2016-10-04 23:31] #322 closed, assigned to nobody

[2016-10-04 23:41] hannah-ustwo opened #401 "IA card sorting "workshop""
Have of whole core team complete card sorting with 4 main categories, uncover insights and conversation starters

h1. Definition of Done
- Complete card sorting with all of internal team
- Gather insights/outputs from sorting activity

[2016-10-04 23:54] hannah-ustwo commented on #400
Also consider:

[2016-10-04 23:55] hannah-ustwo opened #402 "Sketching and ideation based off of new insights"

[2016-10-05 00:04] hannah-ustwo opened #403 "Purpose statement for UI-Kit and Design Guide"
As a user I need a very simple explanation of what this is / what it is for so I know if this is for me.

[2016-10-05 00:06] hannah-ustwo opened #404 "Design principles"
As a user of the Thing I need to understand the design principles so I use it to build services with the same goals/principles (may need to reword this).

[2016-10-05 00:09] hannah-ustwo opened #405 "Decide on insights to action from research to implement into first design guide iteration"

[2016-10-05 02:08] klepas commented on #396
Dan W. and I are pairing on this.

[2016-10-05 02:21] joolswood commented on #399
As discussed in planning, I can take on the existing DSS material to start with.

I've set up a [previous guides UR GDoc](https://docs.google.com/document/d/1RaYFtZ3gAn91cUaxQ8nSORC3vSl3VkaU0UqakZfuV4I/edit).

[2016-10-05 05:27] klepas commented on #396
Deployment is set up:
- `develop` branch: http://dto-design-guide-develop.apps.staging.digital.gov.au/
- `master` branch: http://dto-design-guide.apps.staging.digital.gov.au/ (not up yet since I haven’t pushed that branch yet).

[2016-10-05 22:59] joolswood commented on #400
@gazhands and @hannah-ustwo I'm happy/keen to talk to the content people, but I think this would require someone setting up lookback on their machine in Sydney? (can't record a hangout, easily)

Trisha has left, but I could interview Zoe here in Canberra instead. She's new to the DTO/content guide but would probably have experience with other content guides from previous work.

[2016-10-05 23:33] gazhands commented on #400
Good idea with Zoe, try for her if you get a chance.

[2016-10-05 23:58] joolswood commented on #400
Ok, Zoe is booked in for midday tomorrow.

[2016-10-06 03:27] alan-cole opened #406 "Bug - $navy variable in documentation is different to code"
The documentation on https://gov-au-ui-kit.apps.staging.digital.gov.au/section-colours.html lists Navy as: #224A61. The stylesheet _colours.scss defines $navy as #043751;

These two values should be the same.

[2016-10-06 03:29] gazhands commented on #400
2 interview done today. Al -Designer, Nathan - FE Dev

[2016-10-08 21:12] elisechant opened #407 "Don't include layout inside breadcrumb component"
Breadcrumbs should be independent of layout.

<img width="419" alt="screen shot 2016-10-09 at 8 10 18 am" src="https://cloud.githubusercontent.com/assets/2195815/19215947/f56fa320-8df7-11e6-8f9f-d56e0ff635d7.png">

Remove the `.wrapper` element, allowing users to alternative wrap breadcrumbs with layout instead. Breadcrumbs should default to a 100% width of its containing element (which should be

[2016-10-08 21:19] elisechant opened #408 "bug - breadcrumbs don't display on small-screens"
By default breadcrumbs don't display on small screens.

Breadcrumbs should not decide layout. Make the breadcrumbs always visible or provide an optional helper to make then not visible on mobile instead of being default.

<img width="312" alt="screen shot 2016-10-09 at 8 17 34 am" src="https://cloud.githubusercontent.com/assets/2195815/19216000/17e9ed42-8df9-11e6-8501-734e75155741.png">

[2016-10-09 23:20] hannah-ustwo commented on #400
Awesome stuff!!!

Can we document the notes and Lookback links in this gdoc here? I'll do the same for the ones we do today or tomorrow.
https://docs.google.com/document/d/1jAIHG9joLM94st_lLCkcKVTb91tBfznsUrwngH3r3OY/edit

[2016-10-09 23:31] klepas opened #409 "Consider loading critical vs non-critical CSS inline"
See: https://css-tricks.com/authoring-critical-fold-css/

Adding a sass mixin to help authors extending UI-Kit would be awesome.

Suggested by Dan D. in the frontend chan.

[2016-10-09 23:59] #401 closed, assigned to joolswood

[2016-10-10 02:52] hannah-ustwo commented on #400
Meeting with Jonathan Conway today at 4PM, looking to make a few more bookings this afternoon and tomorrow  after the IA review from 10-11AM  :)

[2016-10-10 03:38] hannah-ustwo commented on #400
Meeting with Michael Hugill today at 3:15, and Treb booked in for tomorrow 11AM. Huzzah.

[2016-10-10 04:31] jonathanconway opened #410 "Busy indicator"
In case processing a user's request takes a long time (due to factors within or outside our control), we should visually indicate that processing is underway.

Since it's difficult to predict how long web requests will take to be serviced, we can start using an indeterminate progress indicator, such as a [progress ring](https://msdn.microsoft.com/en-us/windows/uwp/controls-and-patterns/progress-co

[2016-10-10 22:18] joolswood commented on #398
@hannah-ustwo @gazhands @klepas before we close off this properly I'm keen to review your [workshop findings](https://docs.google.com/a/digital.gov.au/document/d/19UMOcYh_4mf0bXkVo6QoChM1goDHsiSg_VWk3kMIZh8/edit?usp=sharing) in light of the Content Guide, given that it has some existing workflow.

[2016-10-11 03:21] klepas commented on #400
I looked over the notes for Treb and made only a few minor edits, and added a few `(?)` to notes I wasn’t sure about/confused me a bit.

I think you captured everything otherwise Hannah — I don’t really have anything to add.

[2016-10-11 03:27] #398 closed, assigned to joolswood

[2016-10-11 07:29] #400 closed, assigned to gazhands

[2016-10-12 02:35] klepas commented on #396
Brendan and Dan helped me: we modified the `styleguide.data` gulp task to nest subsections in the JSON output.

the `examples`  gulp task appears broken however.

[2016-10-12 03:21] klepas commented on #396
For personal referencing: https://kss-node.github.io/kss-node/api/master/module-kss.KssStyleGuide.html

[2016-10-12 03:25] klepas commented on #396
Done!

[2016-10-13 03:17] klepas commented on #396
Done.

[2016-10-13 03:32] klepas commented on #396
Git flow is implied with the branch names (I’ve been naughty so far, just working in `develop` straight at the moment).

**(A) What’s left now**
1. Example pages ("layouts") — the gulp task (`examples`) that builds these is broken in the UI-Kit repo at the moment and I’m unsure why. :S
2. Home page, Getting started & Styleguide landing page content needs to be added/refactored.

**(B) Additional t

[2016-10-17 00:48] danwhitmarsh opened #412 "Provide grid helper classes for the grid system"

[2016-10-17 00:54] danwhitmarsh commented on #412
I have just met with the Dashboard and one of their major issues is the lack of a grid. They removed bootstrap 3 months ago and now dont have a proper gird. Please can we investiagate adding this in and then we can size it

Notes:

UI Kit missing a grid - including without Saas - no grid available

Level of complexity don’t need - causing Dashboard problems

Need to have grid available without Saa

[2016-10-17 00:58] klepas commented on #412
Cool. We can do something with classes easily I think, and Neat gives a bunch of helpers already available as classes too wrt. grid alignment and layouts.

[2016-10-17 00:59] danwhitmarsh commented on #412
yeah - lets discuss tomorrow when I am in CBR

[2016-10-17 01:47] nathf commented on #412
FWIW: https://gist.github.com/johnkoht/6405117

[2016-10-17 02:39] dlm78 opened #416 "Bug - Unable to install UI kit as a dependency in own npm package"
## What I did

I want to pull the UI kit into my own project as part of a build and added it as a dependency in package.json via:

[code]

When running `npm install` I get a permission error for the repo.
### What browser and device I was using

Windows 10 cmd prompt.
## What I expected to see

I expected to see node_modules/gov-au-ui-kit created in my project.
## What I saw

![image](https://clou

[2016-10-17 02:44] nathf commented on #416
Try installing via HTTPS not git protocol

[code]

[2016-10-17 03:04] dlm78 commented on #416
Installing directly via npm wasn't a problem (presumably because it explicitly used HTTPS). The issue was automated build via package.json.

Replacing

[code]

with

[code]

worked and the gov-au-ui-kit is successfully pulled in as a dependency. Perhaps the [doco](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/docs/how-dashboards-include-the-uikit.md) can be updated?

Now to integrate into m

[2016-10-17 03:11] klepas commented on #416
@dlm78 Good find. Mhh… shouldn’t cloning via git be available for a public repository, or do we need to change this in our `package.json` over to HTTPS?

[2016-10-17 03:20] nathf commented on #416
Cloning via git protocol is tied to your pubkey, essentially only DTO org members can do that. HTTPS should work for everyone as its anonymous.

The two docs in that folder contradict each other slightly, might be worth reviewing them or even combining them.

[2016-10-17 04:51] TrebBrennan opened #417 "Bug - Incorrect font-size on content in tables (cascading Ems)"
## What I did

Content author used an `<ul>` inside a table.
## What I expected to see

Font sizes inside the `<ul>` to match the font-sizes of all other content.
## What I saw

 `<ul>` was 17px, table was 16px, see attached:

<img width="1210" alt="screen shot 2016-10-17 at 3 38 07 pm" src="https://cloud.githubusercontent.com/assets/15899197/19425659/ff6234ee-9480-11e6-8bad-1a670e711851.png">

##

[2016-10-17 04:52] gazhands commented on #404
GOV.UK
Design Principles

Listed below are our design principles and examples of how we’ve used them so far. These build on, and add to, our original 7 digital principles.
1. Start with needs*
2. Do less
3. Design with data
4. Do the hard work to make it simple
5. Iterate. Then iterate again.
6. This is for everyone
7. Understand context
8. Build digital services, not websites
9. Be consistent, no

[2016-10-17 22:47] joolswood commented on #396
@klepas are we removing the Google Analytics as discussed, until we have the privacy policy sorted?

[2016-10-17 23:28] TrebBrennan commented on #412
Worth checking out BBC Gel's grid, the guts of that uses inline-blocks and negative margins (not last/nth-child) so it should roll down to older browsers http://www.bbc.co.uk/gel/guidelines/grid

Here is an isolated example that I put together based on that^ which I've confirmed down to ie8:
http://codepen.io/anon/pen/KgZKRw

[2016-10-17 23:40] klepas commented on #396
@joolswood Yup, I’ve already commented it out of `_config.yml`.

[2016-10-18 00:55] gazhands commented on #396
1. MVP - (4) Templates for each category
2. Example pages ("layouts") custom demo eg. grid example
3. Navigation structure
   L1 - horizontal navigation bar
   L2 - Side nav
   L3 Side nav (or inline links)
4. Tagging of content types in each category (components, patterns, foundations)
5. Cross linking between components><patterns

[2016-10-18 03:31] joolswood commented on #396
Hey @klepas from what you've explained of how Jekyll Collections work it sounds like the best route.

We also need to resolve the (potential) problem of confusion arising from KSS guidance comments being presented in code block as well as md guidance.

[2016-10-18 03:34] joolswood commented on #396
I'm hoping to be able to jump on to C1 in next sprint. Part of the issue is not being able to as yet host local builds with a working nav. I could work on it without it, but so much easier if I can prototype the content with real navigation in place.

Do you need anything else for now @klepas ?

[2016-10-18 04:42] #416 closed, assigned to klepas

[2016-10-18 19:27] elisechant opened #422 "Panel or card components"
Like: http://v4-alpha.getbootstrap.com/components/card/

[2016-10-18 19:28] elisechant commented on #412
dupe of task raised 28 days ago https://github.com/AusDTO/gov-au-ui-kit/issues/386

[2016-10-18 19:33] elisechant commented on #410
I don't mind the idea of progress indicators inside buttons but page level progress indicators are a big no no in the current climate with a bunch of appropriate alternatives https://uxplanet.org/progress-indicators-in-mobile-ux-design-a141e22f3ea0 cc @gazhands

[2016-10-18 19:37] elisechant commented on #260
We really need this. Currently we're doing this:

![screen shot 2016-10-19 at 7 13 27 am](https://cloud.githubusercontent.com/assets/2195815/19494863/c28eb0ae-95cc-11e6-95da-651a5a09c7ca.png)

[2016-10-18 22:26] klepas commented on #412
@elisechant thanks for the pick up.

I’m going to close #386 since there’s a bunch of resources/discussion on this one (while renaming this issue).

[2016-10-18 22:26] klepas commented on #386
Closing this; while #412 is a duplicate, there’s a bunch of resources and chats that have started in the other issue thread.

Thanks for raising.

[2016-10-18 22:26] #386 closed, assigned to nobody

[2016-10-18 22:27] klepas commented on #412
Renamed this card to better reflect the work required (borrowing from @elisechant’s wording from when she originally raised this). (:

[2016-10-19 00:11] #402 closed, assigned to nobody

[2016-10-19 00:13] joolswood commented on #405
We decided to make part of the DOD for the templates checking back through our insights Trello @gazhands

[2016-10-19 00:13] #405 closed, assigned to hannah-ustwo

[2016-10-19 00:15] joolswood commented on #396
@klepas will split this work into individual issues

[2016-10-19 01:46] klepas opened #423 "Implement a tag listing layout and refine tagging support for the design guide"
Tagging is implemented (eg. adding a tag to a component in the SASS and having the right tags parsed into Jekyll).

What’s still needed:
- create an index list view/layout for all items tagged with a given tag
- possibly refine by being able to select more than one tag at a time (a nice to have atm).

[2016-10-19 01:47] klepas opened #424 "Site nav"
Implement as an include and ideally place the SASS into UI-Kit; if not sure we can keep this as application SASS inside the `dto-design-guide` repo and refactor it upstream into UI-Kit later once we have more assurance on the feature.

**Blocks:**
- [x] Design solution for global + site navigation
- [x] Design solution for global + site nav + search
- [x] How do the top level + child items work on

[2016-10-19 01:50] klepas opened #425 "Refactor and pull over example layouts into the design guide"
Refactor and pull over any example layouts from the UI-Kit into the `dto-design-guide` repo.

Most of these have a lot of early gov.au beta branding/styling that may need to be reworked.

Check with Donna/the gov.au team on whether these are still current.

[2016-10-19 01:51] klepas opened #426 "Refactor MVP content for top level pages"
We need:
- a repo readme (could be the same as homepage, or not)
- a homepage
- getting started
- design principles
- foundations
- components
- patterns
- resources & credits

[2016-10-19 01:54] klepas opened #427 "Create a layout that combines collection doc items with the correct SASS comment data"
The collections are implemented, inc. looping through a collection’s items, but we need a collection.doc layout that allows us to inject the correct corresponding SASS comments into the right ad-hoc `_$collection/$feature.md` file.

I’m thinking of using the name as the primary key to make this link.

[2016-10-19 01:56] klepas opened #428 "dto-design-guide go-live tasks"
- [ ] Replace all references to the current guide URL https://gov-au-ui-kit.apps.staging.digital.gov.au

[2016-10-19 01:57] klepas opened #429 "Refactor SASS comments content into Jekyll collection docs"
Jools and I need to go through our SASS comments and move all applicable guidance into the `dto-design-guide` repo as collection.doc MD items, and ensure they pull in the correct corresponding SASS comment content that remains as living style guide data within the UI-Kit SASS.

[2016-10-19 02:00] klepas commented on #426
#404 is tracking the design principles page.

[2016-10-19 02:02] klepas commented on #396
I have split the remaining items here up into:
- #404
- #426
- #423
- #427
- #424
- #425
- #429
- #428

[2016-10-19 02:02] #396 closed, assigned to joolswood

[2016-10-19 02:44] joolswood commented on #395
I think we agreed to put this in the backlog for now, right?

[2016-10-19 03:18] joolswood commented on #404
*Also our Design Principles https://www.dto.gov.au/standard/design-principles/ :)

[2016-10-19 03:21] joolswood commented on #404
WRT to dev principles, we have starting points already in the rep https://github.com/AusDTO/gov-au-ui-kit/blob/develop/BROWSER-SUPPORT.md

[code]

[2016-10-19 04:47] jonathanconway commented on #410
@elisechant, perhaps like this...?

![image](https://cloud.githubusercontent.com/assets/310330/19505973/f75e81ec-9612-11e6-930f-a3589b478a67.png)

Agree about no page-level indicators.

I can imagine _maybe_ wanting to block off one portion of the page, such as the "new comment box" when you post a comment to GitHub.

![image](https://cloud.githubusercontent.com/assets/310330/19506073/e7af937a-961

[2016-10-21 01:01] joolswood commented on #399
I've done a very quick timeboxed survey of the [old research referenced in this doc](https://docs.google.com/document/d/1RaYFtZ3gAn91cUaxQ8nSORC3vSl3VkaU0UqakZfuV4I/edit).

Much of it is too old/in a different context to be useful, but of what was I've added highlights to the Trello board.

I'll just note a few of these things I just added, as we didn't have them on the board when we did the works

[2016-10-21 01:03] joolswood commented on #399
Actually, just before we close off, @gazhands can you / have you spoken to Jordan so we can finish this off? Happy to do this myself, also.

[2016-10-21 04:45] joolswood commented on #403
Ok, starting from our team's mission `Collaborating to build tools and guidance to empower government to transform services for our users` and paring down to minimal words (we can add more to this, just a starting point):
- UI-Kit: a CSS and JavaScript framework for building Australian Government services
- Design Guide: A guide to using the [UI-Kit framework]() to build Australian Government serv

[2016-10-25 01:24] joolswood opened #431 "Browser support level doc"
Does the BROWSER-SUPPORT.md and individual component content meet users needs around level of browser support?
As a UI-KIT team member I need to know if we are meeting our users' needs around the browser support level of all parts of the framework - so we know how to improve our documentation.

Reference: https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices <--

[2016-10-26 03:06] klepas commented on #380
Currently in `develop` in the dto-design-guide.

[2016-10-27 03:06] petronbot opened #434 "Inconsistent property ordering"
Sometimes CSS properties are ordered using outside-in ([e.g. buttons](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/components/_buttons.scss#L77)) and others are alphabetical ([e.g. forms](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/components/_forms.scss#L137)).

I don't think it matters which we use but we should:
- Pick one way to order properties
- Make

[2016-10-27 03:26] klepas commented on #434
I wish I could +1 this more than once.

[2016-10-27 05:16] #313 closed, assigned to nobody

[2016-10-27 05:42] klepas commented on #424
We need to discuss what the deprecation process will be like for the existing global-nav feature (since we may have a namespace clash).

[2016-10-27 05:44] klepas commented on #424
Quick reference implementation (NOT fully complete as per the mockup):
- https://github.com/AusDTO/dta-website/blob/develop/_assets/scss/partials/_header.scss
- https://github.com/AusDTO/dta-website/blob/develop/_includes/header.html

[private repo]

[2016-10-30 22:38] klepas commented on #424
We need to have a quick chat re. the deprecation of the existing, semi-complete `.global-nav`, and how we’re going to pull the above noted draft implementation over into the ui-kit, and then when we’ll do the release.

[2016-10-30 23:43] #382 closed, assigned to petronbot

[2016-10-31 22:21] joolswood commented on #404
I've uploaded a [scan of the CALD principles doc here](https://drive.google.com/open?id=0B476d7OhSs9gZW5hZUNHQjJvN1E) I mentioned @gazhands (still trying to get hold of a digital copy). The most relevant to us is probably 1: `Use common protocols, layouts and icons to assist users to access government agencies`.

[2016-10-31 22:56] hannah-ustwo commented on #399
@joolswood @gazhands I'm happy to move this to done if you guys are!

[2016-10-31 23:06] #399 closed, assigned to nobody

[2016-11-01 00:47] Jane24 opened #436 "Offer a DD-MM-YY date field input feature and documentation"
**Feature Request - Add Date field example**

Would be great for the UI kit to include an example of how to capture a date in our forms. GOV.UK has an example that we could use.
We want to note that there is no auto-tab between fields.
http://govuk-elements.herokuapp.com/form-elements/example-date/

[2016-11-01 01:15] klepas commented on #436
Hi there @Jane24. (:

There has been a recent exemplar that implemented a _birth_date capture field. We intend to take this pattern and provide it within UI-Kit. This will be another few sprints off, as we’re currently swarming on releasing a new version of our guidance/documentation (the design guide).

From what I recall there were another few exemplars earlier in the year, prior to the existenc

[2016-11-01 01:39] klepas commented on #412
Since this is in our sprint backlog and it’s a weighty task, I propose we don’t complete this entire task but instead focus on:
- user needs
- our assumptions
- our philosophical take on this feature — best practices, preferred implementations, etc.
- <missing?>

We have a chat over the above and weigh up the pros/cons, and then spell out what codebase edits need to be forthcoming. Thoughts @elise

[2016-11-01 01:43] klepas commented on #424
Remaining tasks:

_Edit from Petch: Pls see Issue description above for To do list_

[2016-11-01 01:45] klepas commented on #300
Other than the CSS fix Tessa noted above, I’m not sure how to best proceed on this one. Thoughts team?

[2016-11-01 01:46] klepas commented on #427
@petronbot I’m keen to swarm on this ASAP after a release since it’s blocking Jools and I from proceeding on the content refactoring.

[2016-11-01 01:47] klepas commented on #423
This can wait until aftre #427 is completed, IMHO.

[2016-11-01 01:49] klepas commented on #403
@joolswood Heya, anything we do with this currently, or is this something related to #426?

[2016-11-01 02:02] joolswood commented on #403
@klepas yes definitely related. At minimum it'll define the home page words. It also may flow into the principles.

[2016-11-01 02:04] Jane24 commented on #436
Hi there
Thanks for the response.
We're mostly capturing DOB and Expiry dates (of identity documents).

Regarding the auto-tab: we currently use set of 3 fields to capture the dates, as in the GOV UK example. Auto tabbing works if the user enters 2 numbers for the Date and Month fields - the field focus automatically moves to the next field in the set of 3. But users won't necessarily enter 09, fo

[2016-11-01 02:13] elisechant commented on #412
@klepas not sure if this is a ui-pattern or a core feature - that would depend on ui-kit's architectural design paradigms. Personally I believe it should be a core feature.

[2016-11-01 02:38] klepas commented on #412
@elisechant if we implemented presentational classes ontop of the existing Neat grid system it would be a core feature.

[2016-11-01 02:40] klepas commented on #436
Ah, gotcha — of course! Thanks for elaborating.

In the recent exemplar (which was in alpha, and a low-fidelity prototype), I don’t believe there was any Javascript implementation that would auto-tab when 2 numbers we entered, but when we add this as a form pattern in UI-Kit we very much should also provide this functionality.

[2016-11-01 03:05] klepas commented on #424
@gazhands Hey, I just realised the design guide site-nav header is missing the grey bar that our nav item `:hover` styling sits on — compare:

![header-w-bar](https://cloud.githubusercontent.com/assets/52766/19878381/faa05460-a03b-11e6-937e-1b06c9984fb5.png)

![header-no-bar](https://cloud.githubusercontent.com/assets/52766/19878383/ff791f1c-a03b-11e6-8274-ed3bd6545d92.png)

@petronbot We also hav

[2016-11-01 03:05] klepas commented on #424
@gazhands is there a reason why the search input design differs from the UI-Kit text input fields?

[2016-11-01 04:20] Jane24 commented on #436
Dates are about the only field that I'd consider auto-tabbing for. Just found a reasonable solution.
Only auto-tab after all spaces are used in the field, but only if it's validated.

Example:
Month, inserted 04, (...)saved and jumps to next field

Month, inserted 13, (outside possible range), background turns red, and will not jump to next field.

Month, inserted 4, will not jump because does not

[2016-11-01 06:59] klepas commented on #436
*nod*

My only concern in tabbing is an accessibility concern — I need to do some testing to ensure that any JS-powered auto-tabbing and focus to the next input field (from DD to MM to YY; stop) also hits the `label` for that next field; otherwise, eg. a non-sighted user using a screen reader will hear something like “day [the `label`], empty text field [the `input`]” — they enter say ’02’ — and s

[2016-11-01 22:26] klepas commented on #412
Treb had a play (b/c, y’know, he got “bored”), trialing a grid system a la BBC Gel: https://codepen.io/anon/pen/KgZKRw

Works in IE8:

<img width="1607" alt="gel-style-grid-ie8" src="https://cloud.githubusercontent.com/assets/52766/19909993/70a70e40-a0de-11e6-8cf0-fb33f7270bd5.png">

(@TrebBrennan is a boss)

[2016-11-01 23:00] klepas commented on #355
Just noting that I’ve run into the same issue with the GH source ref links in the new design guide —

![screen shot 2016-11-02 at 9 59 36 am](https://cloud.githubusercontent.com/assets/52766/19910761/1fa15af0-a0e3-11e6-8d89-9f2fdb7de6e8.png)

[2016-11-01 23:42] hannah-ustwo commented on #403
@gazhands to help this along

[2016-11-02 00:02] hannah-ustwo commented on #404
Clarifying that this is about overrarching high level principles for the guide, not on a component/element basis

[2016-11-02 00:03] hannah-ustwo commented on #404
@gazhands @joolswood to tackle this

[2016-11-02 00:06] hannah-ustwo commented on #424
To swarm on today with design and dev

[2016-11-02 00:09] hannah-ustwo commented on #412
As of Sprint 40, this is will not be a priority for the guides team. Front-end guild members to discuss the matter.

[2016-11-02 00:10] hannah-ustwo commented on #300
Possibly need more testing to address if it is the right solution.
This won't be a priority for the Guides team in sprint 40.

[2016-11-02 00:16] hannah-ustwo commented on #427
Documented within #18 in ui-kit repo, closing. ausdto/gov-au-ui-kit#18

[2016-11-02 00:17] #427 closed, assigned to nobody

[2016-11-02 00:20] hannah-ustwo commented on #426
Duplicate/old card - captured in ausdto/dto-design-guide#19

[2016-11-02 00:20] #426 closed, assigned to nobody

[2016-11-02 00:24] klepas commented on #423
Blocked by the following additional tasks (at least the first one)
- [ ] decide on a taxonomy of tags
- [x] add tags throughout our ui-kit codebase to all the features

[2016-11-02 00:25] hannah-ustwo commented on #425
GOV.AU elements removed, by request. Moving to done.
Separated work around example layouts in this ticket: ausdto/dto-design-guide#20

[2016-11-02 00:25] #425 closed, assigned to klepas

[2016-11-02 00:33] hannah-ustwo commented on #429
Covered (partly) by ausdto/dto-design-guide#19

[2016-11-02 00:33] #429 closed, assigned to nobody

[2016-11-02 00:40] hannah-ustwo commented on #428
Redundzoes. Archiving.

[2016-11-02 00:40] #428 closed, assigned to nobody

[2016-11-02 00:56] TrebBrennan opened #437 "Bug - Clearfix mixin not working in IE8"
## What I did

[code]

Used `@include clearfix;` on an element whose children are floating, expecting that the element and it's padding will wrap those floated elements.

### What browser and device I was using

IE8

## What I saw

<img width="1256" alt="screen shot 2016-11-02 at 11 51 52 am" src="https://cloud.githubusercontent.com/assets/15899197/19913013/eaea60d0-a0f2-11e6-9d7e-e898e3b25239.png

[2016-11-02 04:44] alphillips commented on #360
Hi Guides team, on a real iPhone (not emulator), the arrow is actually off-screen.

Cheers

[2016-11-02 06:26] Jane24 commented on #436
Yes, You're right. I'd go back to my initial comment that there should be no auto tabbing between fields.

[2016-11-03 04:58] gazhands commented on #424
![4 patterns template 2](https://cloud.githubusercontent.com/assets/17328069/19956236/292f164c-a1de-11e6-8202-59c023028577.png)
![5 page templates 2](https://cloud.githubusercontent.com/assets/17328069/19956238/2930b5e2-a1de-11e6-8d6f-b0ab1cd2df9d.png)
![nav_mobile global 2](https://cloud.githubusercontent.com/assets/17328069/19956237/292fac88-a1de-11e6-8e80-0f8836225274.png)
![768px 2](https://cl

[2016-11-03 05:18] TrebBrennan commented on #437
Cheers Petra.

[2016-11-03 05:18] #437 closed, assigned to nobody

[2016-11-03 06:01] klepas commented on #424
@gazhands @petronbot General agreement — these look really good.

Two interaction-related thoughts/concerns:
1. The proximity of the hamburger icon for the whole-of-guides slide-in nav and the on-page site-nav, for that guide — I think it might be a bit confusing. Thoughts?
2. The mobile expanded view implies that the search box is a nav item, which I don’t think it should be (or should it…)?

[2016-11-03 06:25] klepas commented on #424
I heard via Petch that we might ignore the whole-of-guides nav (grey bar) for now — if we move the search box in mobile view to its position (above the logo, I know…) I think we could avoid the search functionality becoming a nav item. What do ya’ll reckon? (:

[2016-11-03 07:12] klepas commented on #436
@Jane24

Thanks again for opening this. I think adding the auto-tabbing would be a rather nice feature, if we can ensure we don’t screw over screen readers.

I’m not sure when we will get the chance to get onto this, but it’s definitely in our backlog now.

Edit: I also renamed the issue — let me know if it’s not representative of what you meant? :)

[2016-11-04 02:26] Chris820 commented on #436
A lurker adding in thoughts regarding A11y:

Moving a users focus is considered to be a _change of context_. And shouldn't be done when:
1. something receives focus (3.2.1, Level-A)
2. the setting of a UI component is changed (3.2.2, Level-A). Unless notifying the user of this beforehand.

The described setting of d-m-Y values in seperate date fields would be an example of 2. So it should be okay

[2016-11-04 02:47] klepas commented on #436
Thanks @Chris820 — spot on.

[2016-11-04 04:16] klepas commented on #412
Continuing from the chat in the #frontend guild meeting, please take a look at the UI-Kit’s [Browser support document](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/BROWSER-SUPPORT.md), which references the legal mandate (the DAA) as well as our philosophical position on core features, of which I consider a grid system to be one.

Note: the test status information is sadly out of date — we

[2016-11-08 06:29] #424 closed, assigned to klepas, petronbot, gazhands, hannah-ustwo

[2016-11-08 08:31] klepas opened #440 "Improve recruiterbox styling"

[2016-11-08 08:32] #440 closed, assigned to nobody

[2016-11-09 21:49] klepas opened #442 "Fix staging/prod hosting deploy issues & apply CI improvements"
From Mick:

[2016-11-21 00:28] dominikwilkowski commented on #387
Hi there,

I'd love to chime in here and add two or three cents.
I think in an ideal world @klepas is quit right that the structure of the page should reflect the styling and with that comes great semantic meaning and enforcement.

As we're now moving to a larger audience and begin to think about projects where there might not be a lot of resources available we need to make it easy and straight fo

[2016-11-21 22:50] klepas commented on #387
@elisechant @dominikwilkowski After some more chats with Dom, and more musing on the subject I think I’ve come full circle on this — I’m happy to opt for say `.display-1`, `.display-2` or something like that (let’s avoid `.h1`, `.h2`, etc though).

[2016-11-22 04:14] klepas commented on #348
Noting I just ran into this again.

Treb noted that we resolved this by adding a feedback anchor to the footer, which is hidden except for in mobile view.

[2016-11-22 04:34] klepas commented on #348
Closing this since #372 effectively fixes this problem.

[2016-11-22 04:34] #348 closed, assigned to nobody

[2016-11-25 03:14] joolswood opened #444 "Clean up scss comments"
We need to go through the scss partials and clean up any remaining comments, following the Design Guide content refactoring.

[2016-11-27 21:51] dominikwilkowski opened #445 "`utils` are imported before `vendor`"
## What is happening

The compiled output for the ui-kit includes this line:

[code]

The mixin `rem()` is not compiled because the file is imported before the mixin is declared.
In [ui-kit.scss](https://github.com/AusDTO/gov-au-ui-kit/blob/develop/assets/sass/ui-kit.scss#L8):
[code]

## The fix

Just swap the two so your `ui-kit.scss` file looks like this:

[code]

[2016-12-12 00:28] klepas commented on #308
Closing this — we’ve got a logo svg/png for the guides now, and we won’t be shipping them in UI-Kit.

[2016-12-12 00:28] #308 closed, assigned to nobody

[2016-12-13 04:21] #403 closed, assigned to nobody

[2016-12-13 04:22] joolswood commented on #404
Archiving this as duplicate of #8 in Design Guide repo

[2016-12-13 04:22] #404 closed, assigned to gazhands

[2016-12-15 06:02] joolswood commented on #395
I've tweaked the draft to make it about the Design Guide. Needs input from everyone though :)

[2016-12-16 00:39] DJMyles opened #448 "Fix / enhancement - markup of footer menus in footer-top"
DTA kit provides footer markup as per the following:

[code]
And states:

Personally I don't think including the menu / block title as the first `<li>` element of the `<ul>` is semantically correct. It also makes theming and styling of the menus difficult in various CMS where generally $menu_title would be rendered before the `<ul>`.

I propose moving the ` <h2>` out of the menu and instead of tar

[2016-12-16 00:40] klepas commented on #448
Hey @DJMyles

I’ll try get around to all your awesome contributions today.

Thanks again (:

[2016-12-16 00:44] DJMyles commented on #448
And i'll work on fixing my terrible markdown :P

[2016-12-18 00:45] elisechant opened #451 "Bug: external link icon positioning breaks when link runs over multiple lines"
<img width="940" alt="screen shot 2016-12-18 at 7 44 38 am" src="https://cloud.githubusercontent.com/assets/2195815/21290659/f8629af8-c4f5-11e6-8d4f-b27078cf2a97.png">
<img width="921" alt="screen shot 2016-12-18 at 7 44 33 am" src="https://cloud.githubusercontent.com/assets/2195815/21290660/f86471fc-c4f5-11e6-9daf-9e59b54cbdf0.png">

[2016-12-19 01:34] klepas commented on #448
Latest PR: https://github.com/AusDTO/gov-au-ui-kit/pull/453

[2016-12-19 23:50] elisechant opened #454 "Bug: link styles should have color set using "currentColor""
Link styles should inherit their color from their encapsulated text, set to:

`color: currentColor`

[2016-12-20 00:03] dominikwilkowski commented on #454
shouldn't link color always be... link color?

[2016-12-20 00:20] elisechant commented on #454
yes, well then define link color. currently body text color, unless i am mistaken

[2017-01-05 04:42] Jane24 opened #455 "Conditionally revealing content"
Would be good to include the styling to use when conditionally revealing content. We use that in a few places in Identity. GOV.UK have some guidelines that do pretty much what we would like:
* reveal additional questions, depending on the context
* use a left border to emphasise this supporting information

Here: http://govuk-elements.herokuapp.com/form-elements/#form-toggle-content

[2017-01-10 03:58] klepas commented on #256
2.x will fix this.

Closing.

[2017-01-10 03:58] #256 closed, assigned to nobody

[2017-01-10 04:03] klepas commented on #218
Just an update—

We’ve added this as part of 3 new ones to UI-Kit:
1. `callout--info`
2. `callout--error`
3. `callout--success`

These new ones were added in this PR: https://github.com/AusDTO/gov-au-ui-kit/pull/449

The HTML for the example was added in https://github.com/AusDTO/gov-au-ui-kit/pull/452

I note this since they’re actually missing from the design guide/documentation website (ticket

[2017-01-10 04:03] #218 closed, assigned to nobody

[2017-01-10 04:09] klepas commented on #444
@dominikwilkowski What do you think the value of this is wrt. time and our desire to move the focus to 2.x? I’m inclined to close this, unless there are SASS partials now that have comment sections which make zero sense.

Thoughts?

[2017-01-10 04:09] klepas commented on #434
For 1.x this won’t happen anymore.

For 2.x Dom will suggest something sane. (:

Closing.

[2017-01-10 04:09] #434 closed, assigned to nobody

[2017-01-10 04:20] klepas commented on #408
If I recall correctly it was decided to make them hidden by default for the following reasons:

- there wasn’t a satisfactory design for it
- wrapping breadcrumbs tested poorly apparently
- it’s hard to anticipate or prevent wrapping at smaller viewport widths (and thus looked not that great)
- it was deemed that there should and would be other important visual cues on the page to inform the user

[2017-01-10 04:20] #408 closed, assigned to nobody

[2017-01-10 04:22] klepas commented on #407
Agree with you.

The design we were given places these as always sitting on a bg that spans 100% of the viewport width, so that’s what we went with.

That said, the `.wrapper` container is technically still superfluous, and a mistake on my part within the grid system to be frank.

This won’t be changed for 1.x, but will be revisited entirely for 2.x.

@elisechant are you OK if I close this?

[2017-01-10 04:43] klepas commented on #389
Sorry to get back to this so late @elisechant

Semantically I would not use superscript, but a span instead, and control the styling via `vertical-align`, and adjusting it’s font size the same way.

If you do lower the font size don’t go under 14px.

Few egs from a quick play:

![screen shot 2017-01-10 at 3 39 03 pm](https://cloud.githubusercontent.com/assets/52766/21794094/57760572-d74b-11e6-873e

[2017-01-10 04:46] klepas commented on #301
@gazhands hey, do you know if this still has a user need for inclusion in 2.x? If so, is the design the same?

[2017-01-10 05:07] klepas commented on #389
cc @lreichelt

[2017-01-10 11:16] #385 closed, assigned to klepas

[2017-01-11 03:17] klepas commented on #448
This will be fixed in the next release. Closing. :)

[2017-01-11 03:17] #448 closed, assigned to nobody

[2017-01-11 03:21] klepas commented on #423
Noting that we now have the styling available for this — when latest `develop` is merged over 1.10.3  we will have tagging available via `.tags`.

This should also be a ticket in the Design Guide repo instead.

[2017-01-11 03:35] klepas commented on #380
I don’t know of any user need to represent code at the moment within the UI-Kit — we have many needs for it elsewhere, but when we do need to syntax highlight code in documentation/elsewhere we can do it using the future generic guides theme, or a dev will implement something to suit their needs, so I’m going to close this.

[tl;dr: don’t think we have a direct user need to ship syntax highlightin

[2017-01-11 03:35] #380 closed, assigned to nobody

[2017-01-11 03:45] #336 closed, assigned to nobody

[2017-01-11 03:57] klepas commented on #282
Fixed.

[2017-01-11 03:57] #282 closed, assigned to nobody

[2017-01-11 04:16] DJMyles opened #460 "Feature Request - input group of button / input[type=text] elements"
A popular pattern for the combination of buttons and text type inputs as an inline input group for structures such as a site search. The ui-kit may benefit from its inclusion.

[2017-01-11 04:20] DJMyles commented on #460
See https://github.com/AusDTO/gov-au-ui-kit/pull/461 for PR which addresses this issue

[2017-01-11 23:23] klepas commented on #423
The remaining work in this ticket applies to the design guide, which has already got a tix capturing the work there: https://github.com/AusDTO/dto-design-guide/issues/63

Closing this subsequently.

[2017-01-11 23:23] #423 closed, assigned to nobody

[2017-01-12 04:17] #445 closed, assigned to klepas

[2017-01-12 23:30] Jane24 opened #463 "Incorrect colour for light aqua"
Bug - Incorrect colour displayed for light aqua on this page:
http://gov-au-ui-kit.apps.staging.digital.gov.au/section-colours.html
It's not #5BCBE3
Should be #def4f9

[2017-01-13 00:07] klepas commented on #251
As discussed with Gaz, this is gonna be something addressed in 2.x.

[2017-01-13 00:49] klepas commented on #463
Thanks for reporting this.

We’ve moved over to the new version of the documentation for the codebase — http://guides.service.gov.au/design-guide/ — where we actually had basically the same error (`$lighter-aqua` had the wrong hex value).

Fixed in: https://github.com/AusDTO/dto-design-guide/pull/126

[2017-01-13 00:52] #463 closed, assigned to klepas

[2017-01-13 00:58] DJMyles commented on #454
I'm showing link colours defined as following:

[code]

And the mixin syntax:

[code]

Can you provide an example of where the link colour isn't correct or needs changing?

[2017-01-13 01:03] Jane24 commented on #463
Ah sorry. Still had the old version bookmarked.

[2017-01-13 01:04] klepas commented on #454
After a chat with @elisechant I’m closing this.

Link styles will be revisited in 2.x.

[2017-01-13 01:04] #454 closed, assigned to nobody

[2017-01-13 01:05] klepas commented on #463
All good — still ended up being a bug that had made it’s way over to the new docs, so much appreciated. (:

[2017-01-13 02:46] klepas commented on #444
Agreed to wait until some 2.x stuff is done, but keeping this open to go back to our SASS to clean them up for the 1.x codebase later.

[2017-01-13 02:48] #389 closed, assigned to nobody

[2017-01-13 02:55] klepas commented on #334
If we implement accordions in 2.x we will address this.

If so, we will backport this functionality then into 1.x.

May accordions die in hell. ^_^

[2017-01-13 03:14] lreichelt commented on #389
conscious that it is incredibly annoying to do this when you've just closed the issue... I'm wondering, what is the user need for an optional field? I'd prefer our guidance to government was to not have optional fields. Why are we asking for information if we don't absolutely need it?

[2017-01-13 03:16] AndrewArch commented on #334
Call me old-fashioned, but I still reckon accordions have their (limited) place :)

[2017-01-13 03:17] klepas commented on #334
I *really* want us to actually test this feature with users.

If it has already been tested I *want* to see the results, at minimum to better understand the feature, and to provide better guidance on when/when not to use it.

[2017-01-13 04:01] lreichelt commented on #334
you're so old fashioned @AndrewArch ;)

[2017-01-13 04:42] #406 closed, assigned to klepas

[2017-01-13 04:58] #417 closed, assigned to klepas

[2017-01-16 00:07] klepas commented on #389
@lreichelt—

Generally agree, and is similar to [our current guidance on the subject](http://guides.service.gov.au/design-guide/components/forms-buttons/index.html#optional-mandatory-fields).

We’ve been asked how to denote optional fields in the past. Our advice is to not ask that question then at all, and if you absolutely must:

[2017-01-18 02:01] jonathanconway opened #466 "Header"
As we prototype in Business Identity we've been noticing some of the nice headers being used around the DTA, e.g. on [Design Guide](http://guides.service.gov.au/design-guide) and [Gov AU](http://gov-au-ui-kit.apps.staging.digital.gov.au/examples/ministers-content.html).

So we'd like if you could add a Header component to the UI Kit. Just a simple, plain blue-green strip across the top of the scre

[2017-01-18 02:04] maxious commented on #466
you get a simple strip with text with
[code]
eg. http://gov-au-ui-kit.apps.staging.digital.gov.au/examples/ministers-content.html

[2017-01-18 02:05] jonathanconway commented on #466
@maxious, thanks, yep, we're using that for the time being.

[2017-01-22 21:42] DJMyles opened #468 "As an editor I want to be able to make use of all available canvas space without a sidebar"
For the purpose of utilising space on the canvas, it would be beneficial if we allowed `.content-main `to `@include span-columns(16 of 16);` on desktop and `@include span-columns(12 of 12);` on tablet if `.sidebar` does **not** exist. At the moment it is restricted to 12 and 8 columns respectively because 4 are reserved for the sidebar, which restricts the area available in `.content-main` . The m

[2017-01-22 21:48] DJMyles commented on #422
Health and ourselves (DHS) are in the process of working on a pattern for this using Bourbon refills - http://empties.bourbon.io/ (scroll down to cards.)

The challenge at the moment is getting images to behave correctly in all configurations in terms of the flexbox positioning individual cards within their parent container.

I'd love to get some other examples as to how teams are approaching this

[2017-01-22 21:53] DJMyles commented on #466
The UI kit also has a stack of bg-color-text-color combinations in it which can be applied to any element. They are generic so don't apply to any particular component - http://guides.service.gov.au/design-guide/foundations/colours/index.html (under Accessibility (assessible combinations).

[2017-01-30 06:47] gordcorp opened #470 "Bug - mobile breakpoint when doing mobile-first"
## What I did

I'm trying to upgrade from uikit 1.10.3 to 1.11.0 on the DTA website, where we use a mobile-first approach to our scss. After upgrading, the mobile breakpoint does not seem to be behaving as it used to.

## What I expected to see

As an example:

[code]

What I expect:
- at smallest width to get black
- at mobile width and above to get red
- at tablet width and above to get green
-

[2017-01-31 03:39] klepas commented on #431
Picking up where you left off from @joolswood (https://github.com/AusDTO/gov-au-ui-kit/pull/465#issuecomment-276259781): agreed.

IMHO we should present this information directly in the design guide, as page unto itself.

I’d suggest that any research would probably support that, but happy to test it/put an inquiry out there amongst our user base.

[2017-01-31 04:25] joolswood commented on #431
Yes I think it would, but I'm also interested to know other ways that people would find this information valuable; ie do we go back to having support level listed on each individual component.

Maybe getting too down in the weeds with this, there's plenty of other stuff we need user research support to investigate.

[2017-01-31 04:31] klepas commented on #431
This is very viable in 2.x, given we’re going modular — makes it technically easier, and also easier to discretely associate granular browser stuff for each component…

… that said, mixing components together can still produce undesired, difficult-to-predict results.

[2017-02-01 04:02] joolswood commented on #431
I'm happy to:
- leave the UR work until v2
- reproduce the table and minimum explanatory text, for now.

[2017-02-01 07:14] klepas commented on #431
I’d currently opt for the former. I think @dominikwilkowski would agree.

We leave this issue open though, right? :)

[2017-02-01 21:55] joolswood commented on #431
Oh I was recommending we did both @klepas - I'll get on to the table.

[2017-02-09 02:55] jonathanconway commented on #391
~Update:~

~New design guide buttons also don't entirely conform to WCAG, in terms of colour contrast.~

~Regular buttons conform to AA but not AAA.~
~Disabled buttons conform to neither AA nor AAA.~

Deleted. Government isn't required to support AAA and disabled buttons are actually black on grey, which passes AAA.

[2017-02-17 02:31] AndrewArch commented on #391
buttons need a visible indication when they receive keyboard focus - this can be a distinct colour change (at least a 3:1 contrast difference between focus/non-focus states, while still maintaining the text:background contrast of 4.5:1) or an additional indicator like a border or pattern - https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-focus-visible
See also
- https://www.nomensa

[2017-02-17 02:39] klepas commented on #391
Just adding some more bg info on the direction in 2.x:

- we will be adding button variants: primary, secondary, tertiary, and disabled states for all 3.
- we will adhere to the WCAG 2 AA guidelines (thanks @AndrewArch)
- this may mean we add insets/non-colour changes, but it will likely result in just colour changes — up to @gazhands.

I’m closing this unless there are objections to re-open.

[2017-02-17 02:39] #391 closed, assigned to nobody

[2017-02-17 02:52] AndrewArch commented on #391
Just to also note - all color changes need to be checked against color blindness as well as contrast

(no need to reopen - just adding to my a11y note)

[2017-02-17 04:01] gazhands commented on #391
Cheers all

[2017-02-20 22:39] joolswood commented on #395
Suggest we icebox this until we have at least UI-Kit 2 up and/or the new Design Guide. I can migrate this ticket to UI-Kit 2 if we want to do that.

[2017-02-21 04:24] TrebBrennan opened #471 "Bug - .site-nav last-child in mobile view is missing active visuals"
## What I did

Unable to determine the active page on a small screen width (eg mobile) when the last item in the list is active.

### What browser and device I was using

Chrome inspector / Emulated iPhone6:Chrome (browserstack

## What I expected to see

An indication of the page I'm on. Items other than last-child have a different coloured border which was the expectation, BUT even that isn't li

[2017-02-22 02:17] mgdhs opened #472 "Bug - No print style"
## What I did

On a UI toolkit enabled page or site, try printing the page. It prints out information that is not relevant, missing or corrupt.

While you may laugh and ask who prints a page any more, our users still do. Approximately 1.5% of our all our sessions result in a print. While this may seem like a small percentage, it is a high number of people and sessions. The most printed material is

[2017-02-23 01:06] klepas commented on #472
Hey @mgdhs,

Thanks for the detailed ticket.

We’ve started adding print stylesheet support _per module_ in our 2.x work, and the entirety of 2.x is being developed mobile-first.

I cannot say if, and when we will have the time to address this in 1.x — at the moment all our focus is on 2.x.

I’m going to add a wontfix label to this for now to reflect that.

[2017-02-27 03:43] gordcorp opened #473 "Bug - Accessibility - Information is lost when text is resized to 200%"
This issue was identified as part of the accessibility testing performed on the DTA website Jan 2017: https://drive.google.com/open?id=0B3SXZ9dr83v0Y2cwV21HdUZ1STQ

The issue is related to the site and local nav on the DTA website, and since we are using these elements from uikit I believe this issue should be addressed in uikit.

**[5] Information is lost when text is resized to 200%**
Type: WCAG

[2017-02-27 04:42] gordcorp opened #474 "Bug - Accessibility - Selected component styling isn’t distinguishable from keyboard focus styling"
This issue was identified as part of the accessibility testing performed on the DTA website Jan 2017: https://drive.google.com/open?id=0B3SXZ9dr83v0Y2cwV21HdUZ1STQ

**[3] Selected component styling isn’t distinguishable from keyboard focus styling**
Applies: Selected navigation item in main navigation on all content pages with level 2 navigation.
Type: WCAG failure – 2.4.7 Focus Visible
Platform:

[2017-02-27 05:03] gordcorp opened #475 "Bug - Accessibility - Menu button not part of navigation landmark"
This issue was identified as part of the accessibility testing performed on the DTA website Jan 2017: https://drive.google.com/open?id=0B3SXZ9dr83v0Y2cwV21HdUZ1STQ

**[6] Menu button not part of navigation landmark**
Applies: Menu button (mobile only) for global navigation in the header and menu button for main navigation on all content pages with level 2 navigation.
Type: WCAG failure – 1.3.1 Inf

[2017-02-27 05:08] gordcorp opened #476 "Bug - Accessibility - Components are still keyboard accessible when not visible"
This issue was identified as part of the accessibility testing performed on the DTA website Jan 2017: https://drive.google.com/open?id=0B3SXZ9dr83v0Y2cwV21HdUZ1STQ

**[14] Components are still keyboard accessible when not visible**
Applies: Navigation items
Type: WCAG failure – 4.1.2 Name, Role, Value
Platform: Mobile
Severity: Low

When the menu is collapsed, the navigation items are still keyboa

[2017-02-27 22:26] jonathanconway opened #477 "Radio buttons and checkboxes break when label text wraps (e.g. on a mobile display)"
Bug - Radio buttons and checkboxes break when label text wraps (e.g. on a mobile display)

## What I did

I built a radio-button-list, using markup similar to the following:

[code]

### What browser and device I was using

Chrome, MacOS 10.12.3

## What I expected to see

The little black dot inside the circle.

## What I saw

The little black dot outside the circle.

<img width="297" alt="screen

[2017-03-01 01:39] gordcorp opened #478 "Bug - Accessibility - State of component is not available to screen readers"
This issue was identified as part of the accessibility testing performed on the DTA website Jan 2017: https://drive.google.com/open?id=0B3SXZ9dr83v0Y2cwV21HdUZ1STQ

**[10] State of component is not available to screen readers**

Applies: Menu button (mobile) for global navigation in the header and menu button for main navigation on all content pages with level 2 navigation.
Type: WCAG failure – 4.

[2017-03-27 22:53] mgdhs commented on #477
Here is a simple override which should work:

[code]

[2017-03-29 01:46] ghost opened #481 "Colour contrast"
## What I did

Was looking at example and thought the contrast on link:hovers was a bit off. Did a check and link hover fails AAA on normal text sizing. (#313131 on #5bcbe3)

Maybe you're only going for AA compliance. FYI and thankyou for all the work so far!!

[2017-03-30 01:16] joolswood opened #482 "Big - odd spacing around external link icon"
## What I did

User reports no external link / strange spacing around external link icon on 2 different browsers (different problems).

I've only been able to verify the second bug (Firefox). This may relate to #451.

### IE11 on Windows 7 Enterprise (Service Pack 1)

User's screenshot:

![unnamed-1](https://cloud.githubusercontent.com/assets/13774080/24483218/47268c20-1542-11e7-8c1d-241672ecaab7.

[2017-06-30 04:55] aussielunix commented on #442
Bump !

[code]